//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Галерея</li>
        </ul>
    </div>
</div>

<div class="gallery-card">
    <div class="container">

        <div class="gallery-card__border">
            <div class="gallery-card__caption caption-block">
                <h1 class="caption-block__text">Макет Ледового дворца в Нагинске</h1>
            </div>

            <div class="gallery-card__box">
                <div class="gallery-card__info">

                    <div class="gallery-card__name">
                        Макет Ледового дворца с частичным показом
                        интерьера и ледового катка.
                    </div>

                    <div class="gallery-params__list">
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Масштаб</div>
                            <div class="gallery-params__value">1 - 100</div>
                        </div>
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Размеры</div>
                            <div class="gallery-params__value">1200х800мм</div>
                        </div>
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Технологии</div>
                            <div class="gallery-params__value">Орезная, лазерная, плоттерная резки</div>
                        </div>
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Материалы</div>
                            <div class="gallery-params__value"> пленки ORACAL, прозрачные ПВХ и ПЭТ пленки, сухоцветы,
                                консервированный мох,модельные искуственный газон и присыпки
                                немецкой фирмы NOCH и пр</div>
                        </div>
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Стоимость изготовления</div>
                            <div class="gallery-params__value">290 000 рублей</div>
                        </div>
                        <div class="gallery-params__row">
                            <div class="gallery-params__name">Срок изготовления</div>
                            <div class="gallery-params__value">3 недели</div>
                        </div>
                    </div>

                    <div class="gallery-description">
                        <div class="gallery-description__caption">Описание работы</div>
                        <p>
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает
                            у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum,
                            текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                            колорит советских времен.
                        </p>
                    </div>

                    <div class="gallery-share">
                        <div class="gallery-share__info">
                            Поделиться в соц. сетях:
                        </div>
                        <a href="#"><img src="/assets/template/images/ok.png" alt=""></a>
                        <a href="#"><img src="/assets/template/images/twitter.png" alt=""></a>
                        <a href="#"><img src="/assets/template/images/facebook.png" alt=""></a>
                        <a href="#"><img src="/assets/template/images/google.png" alt=""></a>
                        <a href="#"><img src="/assets/template/images/vk.png" alt=""></a>
                    </div>

                </div>
                <div class="gallery-card__images">
                    <div class="gallery-card__main-images">
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket.jpg" alt="">
                        </div>
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket-2.jpg" alt="">
                        </div>
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket-3.jpg" alt="">
                        </div>
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket.jpg" alt="">
                        </div>
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket-2.jpg" alt="">
                        </div>
                        <div class="gallery-card__image">
                            <img src="/assets/template/images/tmp/big-maket-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="gallery-card__previews">
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery1.jpg" alt="">
                        </div>
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery2.jpg" alt="">
                        </div>
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery3.jpg" alt="">
                        </div>
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery4.jpg" alt="">
                        </div>
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery3.jpg" alt="">
                        </div>
                        <div class="gallery-card__preview">
                            <img src="/assets/template/images/tmp/maket-gallery4.jpg" alt="">
                        </div>
                    </div>

                    <div class="gallery-card__neighbors">
                        <span class="gallery-card__link-prev">
                            <a href="#">
                                Макет стадиона ЦСКА “Арена” в Москве
                            </a>
                        </span>
                        <span class="gallery-card__link-next">
                            <a href="#">
                                Макет храма Морского кафедрального собора...
                            </a>
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="viewed-product">

            <div class="viewed-product__border">
                <div class="viewed-product__caption caption-block">
                    <span class="caption-block__text">Вы смотрели ранее</span>
                </div>
                <div class="viewed-product__grid viewed-product-slider">

                    //= include/product.html
                    //= include/product2.html
                    //= include/product3.html
                    //= include/product.html

                </div>
            </div>

        </div>


    </div>
</div>



//= include/footer.html