//= include/header.html

<script>document.body.classList.add("index");</script>

<div class="slider">

    <div class="slider__grid main-slider">
        <div class="slider__item">
            <div class="slider__image"></div>
            <!--img src="/assets/template/images/slider.jpg" alt=""-->
            <div class="slider__box">
                <div class="container">
                    <div class="slider__block">
                        <div class="slider__caption">
                            Профессиональное изготовление макетов и сувениров
                        </div>
                        <div class="slider__descr">
                            от небольших единичных моделей до крупных сложных объектов
                        </div>
                        <a href="#" class="slider__btn btn">
                            Смотреть макеты
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__image"></div>
            <!--img src="/assets/template/images/slider1.jpg" alt=""-->
            <div class="slider__box">
                <div class="container">
                    <div class="slider__block">
                        <div class="slider__caption">
                            Текст на втором слайдере
                        </div>
                        <div class="slider__descr">
                            вторая строка текста на втором слайдере
                        </div>
                        <a href="#" class="slider__btn btn">
                            Смотреть макеты
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


<div class="product">
    <div class="container">
        <div class="product__border">
            <div class="product__caption caption-block">
                <span class="caption-block__text">Новые макеты из портфолио</span>
            </div>
            <div class="product__grid product-slider">

                //= include/product.html
                //= include/product2.html
                //= include/product3.html
                //= include/product.html

            </div>
        </div>
    </div>
</div>

<div class="layouts">
    <div class="container">
        <div class="layouts__border">
            <div class="layouts__caption caption-block">
                <span class="caption-block__text">Какие еще макеты мы делаем</span>
            </div>
            <div class="layouts__list">
                <div class="layouts__item layouts__item--1">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">
                            Архитектурные
                            макеты
                        </div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--2">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Здания и жилые
                            комплексы</div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--3">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Макеты
                            стадионов</div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--4">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Сувениры,
                            подарки</div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--5">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Градостроительные
                            макеты</div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--6">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Промышленные
                            макеты</div>
                    </a>
                </div>

                <div class="layouts__item layouts__item--7">
                    <a class="layouts__card" href="#">
                        <div class="layouts__name">Макеты
                            интерьеров</div>
                    </a>
                </div>
            </div>
            <div class="layouts__goto">
                <a href="#" class="layouts__goto-link">перейти в каталог</a>
            </div>
        </div>
    </div>
</div>

<div class="specifics">
    <div class="container">
        <div class="specifics__border">
            <div class="specifics__caption caption-block">
                <span class="caption-block__text">Особенности наших макетов</span>
            </div>
            <div class="specifics__grid specific-slider">
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature.jpg')">
                        <div class="specifics__name">
                            Материалы
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                            Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature-1.jpg')">
                        <div class="specifics__name">
                            Технологии
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                                Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature-2.jpg')">
                        <div class="specifics__name">
                            Мастера
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                                Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="making">
    <div class="container">
        <div class="making__border">
            <div class="making__caption caption-block">
                <span class="caption-block__text">Изготовление макетов на заказ</span>
            </div>
            <div class="making__descr">
                Наш основной профиль - создание макетов по эскизу или словесному описанию заказчика,
                на основании которых разрабатывается задание для мастеров.
            </div>
            <div class="making__list">
                <div class="making__item">
                    <div class="making__name">
                        Заявка
                    </div>
                    <div class="making__info">
                        Оставьте заявку на сайте или по телефону
                        (495) 369-21-99
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Согласование
                    </div>
                    <div class="making__info">
                        Уточняем детали,
                        рассчитываем стоимость <span class="in-mobile">и заключаем договор</span>
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Проектирование
                    </div>
                    <div class="making__info">
                        Проектируем макет и
                        изготавливаем
                        детали
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Сборка
                    </div>
                    <div class="making__info">
                        Красим и собираем макет, делаем подсветку
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Отправка
                    </div>
                    <div class="making__info">
                        Проверка,  упаковка
                        и передача готового
                        макета
                    </div>
                </div>
            </div>
            <div class="making__goto">
                <span class="making__goto-text">
                    На все макеты действует гарантия 2 года, это фиксируется в договоре
                </span>
            </div>
        </div>
    </div>
    <div class="making-line">
        <div class="container">
            <div class="making-line__grid">
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
            </div>
        </div>
    </div>
</div>

<div class="brief">
    <div class="container">
        <div class="brief__border">
            <div class="brief__caption caption-block">
                <span class="caption-block__text">Оставьте заявку и получите предложение по вашему макету</span>
            </div>
            <div class="brief__grid">
                <div class="brief__item">
                    <div class="brief__box active">
                        <div class="brief__name">
                            Знаю что хочу!
                        </div>
                        <div class="brief__text">
                            <p>Если вы знаете, чего хотите - заполните бриф и прикрепите его к форме ниже</p>
                            <p style="margin-top: 22px;"><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
                <div class="brief__item">
                    <div class="brief__box">
                        <div class="brief__name">
                            Неуверен в выборе
                        </div>
                        <div class="brief__text">
                            <p>Если пока не знаете точно, что вам нужно, заполните форму справа и просто
                            опишите кратко ваш проект. Мы пришлем вам наше предложение по реализации</p>
                        </div>
                    </div>
                </div>
                <div class="brief__item">
                    <div class="brief__box">
                        <div class="brief__name">
                            Сомневаюсь
                        </div>
                        <div class="brief__text">
                            <p>Если сомневаетесь в качестве будущего макета, Вы можете запросить пробный образец через форму ниже
                            - мы сделаем его для вас бесплатно</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="brief-form">
                <div class="brief-form__overlay">
                    <div class="brief-form__caption">
                        Мы свяжемся с вами<br class="in-mobile"/> в течение 1 рабочего дня и<br class="in-mobile"/> сделаем интересное предложение
                    </div>
                    <form action="">
                        <div class="brief-form__inputs">
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="Имя" name="name">
                            </div>
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="Телефон" name="phone" data-mask="+7 (999) 999-99-99">
                            </div>
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="E-mail" name="email">
                            </div>
                        </div>
                        <div class="brief-form__message">
                            <textarea name="comment" id="" placeholder="Описание вашего макета"></textarea>
                        </div>

                        <div class="brief-form__attach">
                            <label for="brief-form_file">
                                Прикрепить файл
                                <input id="brief-form_file" name="file" type="file">
                                <div id="brief-form_filename"></div>
                            </label>
                        </div>

                        <div class="brief-form__bottom">
                            <div class="brief-form__agree">
                                <label class="check-custom">
                                    <input type="hidden" name="iagree[]" value="0">
                                    <input class="checkbox" name="iagree" type="checkbox" value="Согласен">
                                    <span class="checkbox-custom"></span>
                                    <span class="label">
                                    Я даю согласие на обработку моих персональных данных
                                    </span>
                                </label>
                            </div>
                            <button type="submit" class="btn">Получить предложение</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="partners">
    <div class="container">
        <div class="partners__border">
            <div class="partners__caption caption-block">
                <span class="caption-block__text">Нашу работу уже высоко оценили</span>
            </div>
            <div class="partners__list">
                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-1.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-2.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-3.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-4.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-5.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-6.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-7.png" alt="">
                    </a>
                </div>

                <div class="partners__item">
                    <a class="partners__image" href="#">
                        <img src="/assets/template/images/client-8.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location">
    <div class="container">
        <div class="location__border">
            <div class="location__caption caption-block">
                <span class="caption-block__text">Остались вопросы?<br class="in-mobile"/> Задайте их нам любым удобным способом</span>
            </div>
            <div class="location__map">


                <div class="location__box">
                    <div class="location__address-box">
                        <div class="location__city">Москва</div>
                        <div class="location__address">
                            ул. Электрозаводская, 21 к. 23, оф.
                            303-304
                        </div>
                        <div class="location__metro">«Электрозаводская»</div>
                        <div class="location__metro">«Семеновская»</div>
                    </div>
                    <div class="location__phone-box">
                        <div class="location__phone">
                            <a href="tel:+74953692199">(495) 369-21-99</a>
                        </div>
                        <div class="location__email">
                            <a href="mailto:ros-model@mail.ru">ros-model@mail.ru</a>
                        </div>
                    </div>
                    <div class="location__worktime-box">
                        <div class="worktime__caption">Режим работы</div>
                        <div class="worktime__item">
                            <div class="worktime__key">Пн. - пт.:</div>
                            <div class="worktime__dots"></div>
                            <div class="worktime__value">11:00 - 20:00</div>
                        </div>
                        <div class="worktime__item">
                            <div class="worktime__key">Сб. - вс.:</div>
                            <div class="worktime__dots"></div>
                            <div class="worktime__value">Выходной</div>
                        </div>
                    </div>
                </div>
                <div class="location__on-map">
                    <a href="#" data-toggle="#map">Показать на карте</a>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>

</div>

//= include/footer.html