//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Оплата и доставка</li>
        </ul>
    </div>
</div>

<div class="delivery">
    <div class="container">
        <div class="delivery__border">
            <div class="delivery__caption caption-block">
                <span class="caption-block__text">Оплата и доставка</span>
            </div>
            <div class="delivery__list">
                <div class="delivery-block">
                    <div class="delivery-block__caption">
                        Доставка курьером по Москве
                    </div>
                    <div class="delivery-block__text">
                        <p>Стоимость доставки по Москве составляет - 350 рублей.</p>
                        <p>Доставка осуществляется от  2-ух дней</p>
                        <p>Обращаем ваше внимание, что доставка осуществляется в пределах МКАД. Если вы живете за пределами данной территории,
                            но рядом есть метро, курьер доставит заказ к ближайшей вам станции.</p>
                        <p>Оплатить заказ и доставку вы сможете непосредственно при получении.</p>
                    </div>
                </div>
                <div class="delivery-block">
                    <div class="delivery-block__caption">
                        Доставка по России
                    </div>
                    <div class="delivery-block__text">
                        <p>Стоимость курьерской экспресс доставки  от 355 рублей</p>
                        <p>Ваш заказ будет доставлен максимально оперативно (от 2-ух дней) и передан по указанному адресу лично в руки.</p>
                        <p>Оплата экспресс доставки осуществляется наличными курьеру службы доставки.</p>
                    </div>
                </div>
                <div class="delivery-block">
                    <div class="delivery-block__text">
                        <p>Стоимость доставки почтой России составляет от 100 рублей.</p>
                        <p>Ваш заказ будет доставлен в ваше ближайшее отделение почты России.</p>
                        <p>Оплата доставки производится в отделении почты России.</p>
                        <p>Предоплата за заказанный товар 100 %.</p>
                    </div>
                </div>
                <div class="delivery-block">
                    <div class="delivery-block__caption">
                        Для оптовых покупателей
                    </div>
                    <div class="delivery-block__text">
                        <p>Минимальный оптовый заказ от 5шт. любой позиции.</p>
                        <p>Скидки и пр. условия сотрудничества оговариваются индивидуально.  Тел. 8926373118</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html