//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Мастерская</li>
        </ul>
    </div>
</div>

<div class="workshop-page">
    <div class="container">

        <div class="workshop-page__info">
            <div class="workshop-page__border">
                <div class="workshop-page__caption caption-block">
                    <span class="caption-block__text">Наша мастерская</span>
                </div>
                <div class="workshop-page__text">
                    <p>Макетная мастерская «RosModel» создана в 2003 г. Изначально ориентированная на изготовление макетов только для Архитектурного бюро Тимура Башкаева, со временем,
                        при увеличении мощностей и накоплении опыта, стала самостоятельной структурной единицей. Сейчас мы изготавливаем макеты любых видов и степени сложности из
                        различных материалов. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="workshop-masters">
    <div class="container">
        <div class="workshop-masters__border">
            <div class="workshop-masters__caption caption-block">
                <span class="caption-block__text">Наши мастера</span>
            </div>
            <div class="workshop-masters__grid workshop-masters-slider">
                <div class="workshop-masters__item">
                    <a href="#" class="workshop-masters__box">
                        <div class="workshop-masters__image">
                            <img src="/assets/template/images/tmp/master-1.jpg" alt="">
                        </div>
                        <div class="workshop-masters__name">
                            Инал Кочиев
                        </div>
                        <div class="workshop-masters__post">
                            Руководитель
                        </div>
                    </a>
                </div>
                <div class="workshop-masters__item">
                    <a href="#" class="workshop-masters__box">
                        <div class="workshop-masters__image">
                            <img src="/assets/template/images/tmp/master-2.jpg" alt="">
                        </div>
                        <div class="workshop-masters__name">
                            Андрей Сапожников
                        </div>
                        <div class="workshop-masters__post">
                            Ведущий <br />специалист
                        </div>
                    </a>
                </div>
                <div class="workshop-masters__item">
                    <a href="#" class="workshop-masters__box">
                        <div class="workshop-masters__image">
                            <img src="/assets/template/images/tmp/master-3.jpg" alt="">
                        </div>
                        <div class="workshop-masters__name">
                            Юлия Мирошникова
                        </div>
                        <div class="workshop-masters__post">
                            Руководитель группы
                            макетчиков
                        </div>
                    </a>
                </div>
                <div class="workshop-masters__item">
                    <a href="#master4" data-fancybox="" class="workshop-masters__box">
                        <div class="workshop-masters__image">
                            <img src="/assets/template/images/tmp/master-4.jpg" alt="">
                        </div>
                        <div class="workshop-masters__name">
                            Мария Литвишко
                        </div>
                        <div class="workshop-masters__post">
                            Региональный директор
                            в Санкт -Петербурге
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



        <div style="display: none">
            <div id="master4" class="master-popup">
                <div class="workshop-specialist">
                    <div class="workshop-specialist__left">
                        <div class="workshop-specialist__image">
                            <img src="/assets/template/images/tmp/master-foto.jpg" alt="">
                        </div>
                        <div class="workshop-specialist__grateful">
                            <div class="workshop-grateful__list">
                                <div class="workshop-grateful__item">
                                    <a data-fancybox="master-grateful-4" href="http://placehold.it/500x800">
                                        <img src="/assets/template/images/tmp/master-smallfoto.jpg" alt="">
                                    </a>
                                </div>
                                <div class="workshop-grateful__item">
                                    <a data-fancybox="master-grateful-4" href="http://placehold.it/500x800">
                                        <img src="/assets/template/images/tmp/master-smallfoto.jpg" alt="">
                                    </a>
                                </div>
                                <div class="workshop-grateful__item">
                                    <a data-fancybox="master-grateful-4" href="http://placehold.it/500x800">
                                        <img src="/assets/template/images/tmp/master-smallfoto.jpg" alt="">
                                    </a>
                                </div>
                                <div class="workshop-grateful__item">
                                    <a data-fancybox="master-grateful-4" href="http://placehold.it/500x800">
                                        <img src="/assets/template/images/tmp/master-smallfoto.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="workshop-specialist__right">
                        <div class="workshop-specialist__name">
                            Юлия Мирошникова
                        </div>
                        <div class="workshop-specialist__params">
                            <div class="workshop-params__list">
                                <div class="workshop-params__row">
                                    <div class="workshop-params__name">Возраст</div>
                                    <div class="workshop-params__value">24 года</div>
                                </div>
                                <div class="workshop-params__row">
                                    <div class="workshop-params__name">Должность</div>
                                    <div class="workshop-params__value">Руководитель группы
                                        макетчиков</div>
                                </div>
                                <div class="workshop-params__row">
                                    <div class="workshop-params__name">Стаж работы</div>
                                    <div class="workshop-params__value">6 лет</div>
                                </div>
                            </div>
                        </div>
                        <div class="workshop-specialist__info">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="specifics">
    <div class="container">
        <div class="specifics__border">
            <div class="specifics__caption caption-block">
                <span class="caption-block__text">Особенности наших макетов</span>
            </div>
            <div class="specifics__grid specific-slider">
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature.jpg')">
                        <div class="specifics__name">
                            Материалы
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                                Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature-1.jpg')">
                        <div class="specifics__name">
                            Технологии
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                                Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
                <div class="specifics__item">
                    <div class="specifics__card" style="background-image: url('/assets/template/images/feature-2.jpg')">
                        <div class="specifics__name">
                            Мастера
                        </div>
                        <div class="specifics__info">
                            <p>Мы можем изготовить макет практически из любых материалов. Если у вас есть пожелания по поводу материала, можете указать это в брифе.
                                Чаще всего используем полистирол, ПВХ, оргстекло, ПЭТ, дерево, металл, самоклеющаюся пленку ORACAL, бумагу, картон</p>
                            <p><a href="#">Скачать и заполнить бриф</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="workshop-gallery">
    <div class="container">
        <div class="workshop-gallery__border">
            <div class="workshop-gallery__caption caption-block">
                <span class="caption-block__text">Так выглядит мастерская</span>
            </div>
            <div class="workshop-gallery__grid workshop-gallery-slider">
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-1.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-2.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-3.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-4.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-5.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-6.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-4.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-5.jpg" alt="">
                    </div>
                </div>
                <div class="workshop-gallery__item">
                    <div class="workshop-gallery__image">
                        <img src="/assets/template/images/tmp/gallery-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location">
    <div class="container">
        <div class="location__border">
            <div class="location__caption caption-block">
                <span class="caption-block__text">
                    Мы всегда рады видеть вас<br class="in-mobile"/>
                    в нашей Мастерской
                </span>
            </div>
            <div class="location__map">


                <div class="location__box">
                    <div class="location__address-box">
                        <div class="location__city">Москва</div>
                        <div class="location__address">
                            ул. Электрозаводская, 21 к. 23, оф.
                            303-304
                        </div>
                        <div class="location__metro">«Электрозаводская»</div>
                        <div class="location__metro">«Семеновская»</div>
                    </div>
                    <div class="location__phone-box">
                        <div class="location__phone">
                            <a href="tel:+74953692199">(495) 369-21-99</a>
                        </div>
                        <div class="location__email">
                            <a href="mailto:ros-model@mail.ru">ros-model@mail.ru</a>
                        </div>
                    </div>
                    <div class="location__worktime-box">
                        <div class="worktime__caption">Режим работы</div>
                        <div class="worktime__item">
                            <div class="worktime__key">Пн. - пт.:</div>
                            <div class="worktime__dots"></div>
                            <div class="worktime__value">11:00 - 20:00</div>
                        </div>
                        <div class="worktime__item">
                            <div class="worktime__key">Сб. - вс.:</div>
                            <div class="worktime__dots"></div>
                            <div class="worktime__value">Выходной</div>
                        </div>
                    </div>
                </div>
                <div class="location__on-map">
                    <a href="#" data-toggle="#map">Показать на карте</a>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>

</div>

//= include/footer.html