.cart-dostavka {
  margin-top: 30px;
  &__border{
    position: relative;
    padding-bottom: 36px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: -30px;
      bottom: 5px;
      left: 50%;
      right: 111px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      max-width: 600px;
      width: 100%;
      transform: translateX(-50%);
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__list {
    background-color: #fff;
    margin-bottom: 24px;
    max-width: 730px;
    padding: 30px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    min-height: 234px;
    margin-left: auto;
    margin-right: auto;
  }
  &__row{
    display: flex;
    margin-bottom: 12px;
  }
  &__name{
    max-width: 200px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    &:after{
      display: inline-block;
      content: "";
      flex: 1;
      height: 15px;
      border-bottom: 1px dotted #4c4c4c;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__value{

  }
  &__link{
    margin-top: 30px;
  }
}
.cart-thank{
  &__border {
    position: relative;
    padding-bottom: 4px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      width: 510px;
      transform: translateX(-50%);
    }
    > div {
      position: relative;
      z-index: 2;
    }
  }
  &__order-number{
    font-size: 16px;
    margin-bottom: 16px;
  }
  &__order-table{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 16px;
    table{
      max-width: 600px;
      width: 100%;
      border: 1px solid $border-color;
      border-radius: 4px;

    }
    th{
      font-size: 14px;
      color: #999999;
      font-weight: $font-weight-regular;
      border-right: 1px solid $border-color;
      padding: 14px 20px;
      text-align: center;
      &:first-child{
       text-align: left;
      }
    }
    td{
      font-size: 16px;
      color: #4c4c4c;
      font-weight: $font-weight-regular;
      border-right: 1px solid $border-color;
      padding: 14px 20px;
      text-align: center;
      &:first-child{
        text-align: left;
      }
    }
    .rub{
      &:before{
        font-size: 15px;
        font-weight: $font-weight-light;
      }
    }
  }
  &__order-cost{
    font-size: 16px;
    font-weight: $font-weight-regular;
    .rub{
      &:before{
        font-size: 15px;
        font-weight: $font-weight-light;
      }
    }
  }
}