.delivery{
  &__border{
    position: relative;
    padding-bottom: 36px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 0 none;
      border-radius: 4px;
      z-index: 1;
      max-width: 830px;
      width: 100%;
      transform: translateX(-50%);
      @media($bp-larger-than-tablet) {
        border: 1px solid #ebebeb;
      }
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__list{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 18px 18px 0 18px;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    @media($bp-larger-than-tablet) {
      padding: 23px 30px;
    }
  }
}
.delivery-block{
  border-bottom: 1px solid $border-color;
  padding: 20px 0 10px 0;
  &:last-child{
    border-bottom: 0 none;
    padding-bottom: 0;
  }
  &:first-child{
    padding-top: 0;
  }
    &__caption{
      font-size: 16px;
      font-weight: $font-weight-bold;
      @media($bp-larger-than-tablet) {
        font-size: 18px;
      }
    }
  &__text{
    padding: 0;
    @media($bp-larger-than-tablet) {
      padding: 0 62px 0 0;
    }
    p{
      margin-bottom: 18px;
      margin-top: 11px;
    }
  }
}