.catalog-page{
  padding-bottom: 40px;
  &__border{
    position: relative;
    padding-bottom: 34px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      width: 1020px;
      transform: translateX(-50%);
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
}
.maket-block{
  display: flex;
  justify-content: space-between;
  margin-right: -10px;
  margin-left: -10px;
  &__item{
    padding-left: 10px;
    padding-right: 10px;
    a{
      text-decoration: none;
      font-size: 14px;
    }
    &--1{
      .maket-block__image{
        &:after{
          @include sprite($maket-1);
        }
      }
    }
    &--2{
      .maket-block__image{
        &:after{
          @include sprite($maket-2);
        }
      }
    }
    &--3{
      .maket-block__image{
        &:after{
          @include sprite($maket-3);
        }
      }
    }
    &--4{
      .maket-block__image{
        &:after{
          @include sprite($maket-4);
        }
      }
    }
    &--5{
      .maket-block__image{
        &:after{
          @include sprite($maket-5);
        }
      }
    }
    &--6{
      .maket-block__image{
        &:after{
          @include sprite($maket-6);
        }
      }
    }
    &--7{
      .maket-block__image{
        &:after{
          @include sprite($maket-7);
        }
      }
    }
  }
  &__card{
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    &:hover{
      .maket-block__image:before{
        opacity: 1;
      }
    }
  }
  &__image{
    width: 150px;
    height: 135px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: relative;
    margin-bottom: 5px;
    &:after{
      position: absolute;
      display: inline-block;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      opacity: 1;
    }
    &:before{
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      content: "";
      display: inline-block;
      background: linear-gradient(0deg, #d7d7d7 0%, #f2f2f2 100%);
      opacity: 0;
      transition: $anim;
      border-radius: 4px;
      border-bottom: 5px solid $gold;
    }

  }
  &__name{
    font-size: 14px;
    text-align: center;
  }
}
.catalog{
  margin-top: 16px;
  margin-bottom: 40px;
  &__grid{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.promotion{
  padding-bottom: 40px;
  &__border{
    position: relative;
    padding-bottom: 34px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      width: 840px;
      transform: translateX(-50%);
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__text{
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: #fff;
    padding: 14px 20px;
    line-height: 154%;
  }
}

.maket-block-mobile{
  max-width: 290px;
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid $border-color;
  border-radius: 3px;
  &__list{
    list-style-type: none;
    margin: 0;
    display: none;
  }
  &__item{
    margin: 0;
  }
  a{
    text-decoration: none;
    font-size: 14px;
    font-weight: $font-weight-bold;
    padding: 4px 8px 4px 35px;
    display: block;
  }
  &__caption{
    a{
      padding: 10px 25px 10px 35px;
      position: relative;
      &:after{
        content: "\f107";
        display: inline-block;
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 12px;
      }
    }
  }
}