body{
  background-color: #fff;
  color: #4c4c4c;
}
body *{
  box-sizing: border-box;
  font-family: PFAgora, sans-serif;
}

.container{
  padding: 0 15px;
}
.in-mobile{
  display: inline-block;
  @media($bp-larger-than-mobile) {
    display: none;
  }
}
.in-desktop{
  display: none;
  @media($bp-larger-than-mobile) {
    display: inline-block;
  }
}
p{
  line-height: 150%;
  margin: 16px 0;
  font-size: 14px;
}
a{
  color: $biruza;
  outline: none;
  &:hover{
    color: $blue;
  }
}

.btn{
  background: linear-gradient(0deg, #fd8100 0%, #ffa900 100%);
  color: #fff;
  border-radius: 3px;
  height: 32px;
  line-height: 28px;
  padding: 2px 10px 2px 10px;
  font-size: 14px;
  font-weight: bold;
  transition-duration: .3s;
  cursor: pointer;
  text-transform: uppercase;
  border: 0 none;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  @media($bp-larger-than-mobile){
    height: 40px;
    line-height: 32px;
    padding: 5px 12px 5px 12px;
    font-size: 16px;
  }
  &:hover{
    color: #fff;
    box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.8);
  }
}
.header{

  //display: none;
  @media($bp-larger-than-mobile){
    display: block;
    background: transparent url("/assets/template/images/banner.jpg") center top no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 84px;
  }
}
.topline-mobile{
  display: flex;
  justify-content: space-between;
  //margin-left: -15px;
  //margin-right: -15px;
  padding: 15px 15px 11px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  @media($bp-larger-than-mobile){
    display: none;
  }
  &__burger{
    width: 32px;
    height: 32px;
    background-color: $blue;
    border-radius: 3px;
    padding: 9px 6px;
    cursor: pointer;
    span{
      position: relative;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 3px;
      display: inline-block;
      background-color: #fff;
      &:before{
        position: absolute;
        content: "";
        display: inline-block;
        height: 3px;
        left: 0;
        right: 0;
        top: -5px;
        background-color: #fff;
      }
      &:after{
        position: absolute;
        content: "";
        display: inline-block;
        height: 3px;
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: #fff;
      }
    }
  }
  &__callback{
    width: 32px;
    height: 32px;
    background: linear-gradient(0deg, #fd8100 0%, #ffa900 100%);
    border-radius: 3px;
    position: relative;
    &:before{
      display: inline-block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sprite($phone-white);
    }
  }
}

.mobile-menu{
  background-color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;
  z-index: 100;
  padding-bottom: 1px;
  &__top{
    display: flex;
    justify-content: space-between;
    color: #4c4c4c;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px 15px 10px;
    margin-bottom: 30px;
    font-size: 14px;
    background-color: #fff;
    a{
      color: #4c4c4c;
      text-decoration: none;
    }
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }
    a{
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        color: $orange;
        text-decoration: none;
      }
    }
  }

  &__contacts{
    padding-left: 30px;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      @include sprite($phone);
      top: 10px;
      left: 0;
    }
  }
  &__phone{
    font-weight: bold;
  }
  &__timework{
    padding-left: 30px;
    position: relative;
    width: 125px;
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      @include sprite($clock);
      top: 12px;
      left: 0;
    }
  }
  &__time{
    font-weight: bold;
  }

}

.topline{
  display: none;
  @media($bp-larger-than-mobile){
    display: flex;
  }

  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0;
  font-size: 16px;
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #ffa900;
    }
    &.btn:hover{
      color: #fff;
    }
  }
  &__logo{
    margin-right: 8px;
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  &__list{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0;
    li{
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0;
    }
  }
  &__contacts{
    padding-left: 30px;
    position: relative;
    margin-top: -14px;
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      @include sprite($phone);
      top: 10px;
      left: 0;
    }
  }
  &__phone{
    font-weight: bold;
  }
  &__timework{
    padding-left: 30px;
    position: relative;
    margin-top: -14px;
    width: 150px;
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      @include sprite($clock);
      top: 12px;
      left: 0;
    }
  }
  &__time{
    font-weight: bold;
  }
  &__button{
    margin-top: -14px;
  }
}
.promo{
  //display: none;
  padding-top: 70px;
  margin-left: -15px;
  margin-right: -15px;
  @media($bp-larger-than-mobile){
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 63px;
  }
  &__box{
    background: transparent url("/assets/template/images/forma__bg.jpg") center top no-repeat;
    color: #fff;
    max-width: 570px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    @media($bp-larger-than-mobile) {
      min-height: 410px;
      bottom: -40px;
    }
  }
  &__top{
    padding: 16px 16px 6px;
    @media($bp-larger-than-mobile) {
      min-height: 225px;
      padding: 24px 30px 6px;
    }
  }
  &__caption{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 19px;
    line-height: 130%;
    @media($bp-larger-than-mobile){
      font-size: 30px;
      line-height: 110%;
      margin-bottom: 16px;
    }
  }
  &__list {
    font-size: 14px;
    list-style-type: none;
    @media($bp-larger-than-mobile){
      font-size: 18px;
    }
    li {
      margin-bottom: 12px;
      position: relative;
      padding-left: 16px;
      line-height: 130%;
      text-align: left;
      @media($bp-larger-than-mobile){
        padding-left: 26px;
      }
      &:before {
        display: inline-block;
        position: absolute;
        content: "";
        left: 1px;
        top: 6px;
        background-color: #fff;
        width: 5px;
        height: 5px;
        transform: rotate(45deg);
        @media($bp-larger-than-mobile){
          width: 10px;
          height: 10px;
          left: 2px;
          top: 7px;
        }
      }
    }
  }
  &__bottom{
    padding: 10px 15px 10px;
    background: rgba(0,0,0,0.05);
    @media($bp-larger-than-mobile){
      padding: 24px 20px 20px 30px;
      min-height: 195px;
    }
    .promo__caption{
      margin-bottom: 7px;
    }
  }
  &__form{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    flex-direction: column;
    @media($bp-larger-than-mobile){
      flex-direction: row;
    }
    input[type="text"] {
      width: 100%;
      height: 32px;
      line-height: 32px;
      border-radius: 3px;
      margin-bottom: 10px;
      color: #000;
      padding-left: 15px;
      @media($bp-larger-than-mobile){
        width: 240px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
  &__left{
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    @media($bp-larger-than-mobile){
      display: block;
      margin-left: 0;
      margin-right: 15px;
    }
  }
  &__right{
    display: flex;
    align-items: first baseline;
    @media($bp-larger-than-mobile){
      display: block;
      margin-left: 15px;
      padding-top: 5px;
    }
  }
  &__item{
    padding-left: 5px;
    padding-right: 5px;
    @media($bp-larger-than-mobile){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__button{
    margin-top: 10px;
    a{
      text-decoration: none;
      @media($bp-larger-than-mobile) {
        width: 190px;
      }
        //padding: 10px 18px;
    }
  }
  .check-custom{
    margin-bottom: 6px;
    @media($bp-larger-than-mobile){
      margin-bottom: 16px;
    }
    .label{
      padding-left: 24px;
      padding-top: 2px;
      font-size: 12px;
      @media($bp-larger-than-mobile){
        font-size: 14px;
        padding-left: 28px;
      }
    }
  }
}
.label{
  font-size: 14px;
  font-weight: normal;
}

.caption-block{
  font-size: 24px;
  font-weight: $font-weight-light;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 30px;
  line-height: 100%;
  @media($bp-larger-than-mobile) {
    font-size: 30px;
    overflow: hidden;
    margin-bottom: -2px;
    line-height: 120%;
  }
}
.advantages{
  margin-bottom: 12px;
  //display: none;
  padding-top: 16px;
  @media($bp-larger-than-mobile){
    padding-top: 0;
    display: block;
    margin-bottom: 36px;
  }
  &__caption{
    //margin-bottom: 65px;
    @media($bp-larger-than-mobile){
      //margin-bottom: 61px;
    }
  }
  &__box{
    @media($bp-larger-than-mobile){
      display: flex;
      justify-content: space-between;
    }
  }
  &__name{
    position: absolute;
    left: 10px;
    right: 10px;
    padding: 10px 22px;
    background-color: #355582;
    border-radius: 3px;
    margin-top: -23px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    @media($bp-larger-than-mobile){
      font-size: 24px;
      left: 30px;
      right: 30px;
    }
  }
  &__item{
    max-width: 370px;
    position: relative;
    padding-top: 61px;
  }
  &__header{
    background: transparent url("/assets/template/images/earth.jpg") center top no-repeat;
    height: 136px;
    display: block;
    text-align: center;
    @media($bp-larger-than-mobile){
      height: 174px;
    }
    img{
      position: relative;
    }
    &--1{
      img{
        top: -53px;
      }
    }
    &--2{
      img{
        top: -65px;
        left: -5px;
      }
    }
    &--3{
      img{
        top: -30px;
        left: 9px;
      }
    }
  }
  &__body{
    background: transparent url("/assets/template/images/earth__bg.jpg") center top no-repeat;
    padding: 34px 13px 11px 13px;
    @media($bp-larger-than-mobile){
      padding: 50px 26px 10px 26px;
    }
  }
  &__list{
    font-size: 14px;
    list-style-type: none;
    @media($bp-larger-than-mobile){
      font-size: 18px;
    }
    li{
      margin-bottom: 9px;
      position: relative;
      padding-left: 23px;
      line-height: 130%;
      text-align: left;
      @media($bp-larger-than-mobile){
        margin-bottom: 19px;
      }
      &:before{
        display: inline-block;
        position: absolute;
        content: "";

        left: 7px;
        top: 6px;
        width: 7px;
        height: 7px;
        border-radius: 3px;
        @media($bp-larger-than-mobile){
          left: 3px;
          width: 10px;
          height: 10px;
        }
      }
    }
    .pink-dots{
      &:before{
        background-color: #f48f9f;
      }
    }
    .green-dots{
      &:before{
        background-color: #3faa3f;
      }
    }
    .lightgreen-dots{
      &:before{
        background-color: #9fd59f;
      }
    }
    .red-dots{
      &:before{
        background-color: #e81e3e;
      }
    }
  }
  &__footer{
    background: transparent url("/assets/template/images/earth__down.jpg") center top no-repeat;
    height: 24px;
    @media($bp-larger-than-mobile){
      height: 30px;
    }
  }
  .caption__border{
    border-bottom: 0 none;
    &:before,
    &:after{
      display: none;
    }
  }
}

.advantages-slider{
  .slick-dots{
    &__wrapper{
      position: absolute;
      bottom: -25px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      .slick-dots{
        position: relative;
        bottom: auto;
        display: inline-block;
        width: auto;
      }
      .slick-dots-prev{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-right: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
          transform: rotate(180deg);
        }
      }
      .slick-dots-next{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-left: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
        }
      }
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      vertical-align: middle;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
        margin: 0 2px;
      }
      button{
        width: 10px;
        height: 10px;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
        }
      }
      &.slick-active button::before {
        background-color: $blue;
      }
    }
    button::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $border-color;
      opacity: 1;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
      }
    }
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.br__list{
  margin-bottom: 2px;
}

.application{
  margin-bottom: 10px;
  //display: none;
  @media($bp-larger-than-mobile){
    display: block;
  }
  &__header{
    margin-bottom: 43px;
  }
  &__list{
    margin-left: -15px;
    margin-right: -15px;
    @media($bp-larger-than-mobile) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item{
    @media($bp-larger-than-mobile) {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 26px;
    }
  }
  &__card {
    background-position: center;
    background-size: cover;
    height: 175px;
    width: 270px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 7px;
    overflow: hidden;
    @media($bp-larger-than-mobile) {
      margin-bottom: 12px;
    }
    &:hover{
      .application__info{
        transform: translateY(0);
      }
    }
  }
  &__info{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(53, 85, 130, 0.7);
    display: flex;
    align-items: center;
    padding: 28px;
    color: #fff;
    font-size: 18px;
    transition: $cubic02;
    @media($bp-larger-than-mobile) {
      transform: translateY(100%);
    }
  }

  &__name{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    @media($bp-larger-than-mobile) {
      font-size: 16px;
    }
  }
  .caption-block{
    margin-bottom: 16px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 0;
    }
  }
  .caption__border{
    border-bottom: 0 none;
    &:before,
    &:after{
      display: none;
    }
  }
}

.application-slider{
  .slick-dots{
    &__wrapper{
      position: absolute;
      bottom: -25px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      .slick-dots{
        position: relative;
        bottom: auto;
        display: inline-block;
        width: auto;
      }
      .slick-dots-prev{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-right: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
          transform: rotate(180deg);
        }
      }
      .slick-dots-next{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-left: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
        }
      }
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      vertical-align: middle;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
        margin: 0 2px;
      }
      button{
        width: 10px;
        height: 10px;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
        }
      }
      &.slick-active button::before {
        background-color: $blue;
      }
    }
    button::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $border-color;
      opacity: 1;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
      }
    }
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}

.toggle-caption{
  display: block;
  padding: 15px 0;
  font-size: 24px;
  font-weight: $font-weight-light;
  cursor: pointer;
  @media($bp-larger-than-mobile){
    display: none;
  }
  &__box{
    position: relative;
    &:after{
      display: inline-block;
      content: "\f105";
      font-family: FontAwesome;
      font-size: 22px;
      position: absolute;
      right: 10px;
      top: 5px;
      transform: rotate(90deg);
      transition: $anim;
    }
  }
  &.active{
    .toggle-caption__box{
      &:after{
        transform: rotate(0deg);
      }
    }
  }

}
.works{
  background: transparent url("/assets/template/images/work__bg.jpg") center top no-repeat;
  padding: 0 0 15px;
  margin-bottom: 18px;
  //display: none;
  @media($bp-larger-than-mobile){
    padding: 36px 0;
    display: block;
    min-height: 555px;
    margin-bottom: 36px;
  }
  &__toggle{
    background: transparent url("/assets/template/images/work__bg.jpg") center top no-repeat;
  }
  &__body{
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
  }
  &__caption{
    margin-bottom: 41px;
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    @media($bp-larger-than-mobile){
      flex-direction: row;
    }
  }
  &__left{
    @media($bp-larger-than-mobile) {
      margin-right: 15px;
    }
  }
  &__map{
    margin-left: -15px;
    margin-right: -15px;
    height: 396px;
    @media($bp-larger-than-mobile){
      margin-left: 0;
      margin-right: 0;
      width: 770px;
      height: 400px;
    }
    img{
      width: 100%;
    }
  }
  &__right{
    @media($bp-larger-than-mobile) {
      margin-left: 15px;
    }
  }
  &__video{
    margin-bottom: 12px;
    width: 100%;
    @media($bp-larger-than-mobile){
      width: 370px;
    }
    iframe{
      height: 164px !important;
      @media($bp-larger-than-mobile){
        height: 208px !important;
      }
    }
    img{
      width: 100%;
    }
  }
  &__name{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    @media($bp-larger-than-mobile){
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  &__description{
    line-height: 130%;
    margin-bottom: 11px;
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 11px;
    @media($bp-larger-than-mobile){
      font-size: 16px;
      line-height: 140%;
      padding-bottom: 24px;
      margin-bottom: 16px;
    }
  }
  &__link{
    font-size: 14px;
    font-weight: bold;
    color: #fe9500;
    text-decoration: none;
    @media($bp-larger-than-mobile){
      font-size: 16px;
    }
    &:hover{
      color: #355582;
    }
  }
}
.why{
  margin-bottom: 0;
  //display: none;
  @media($bp-larger-than-mobile){
    margin-bottom: 15px;
    display: block;
  }
  &__caption{
    margin-bottom: 41px;
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
      margin-bottom: 30px;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    @media($bp-larger-than-mobile) {
      padding: 0 0 30px 0;
    }
  }
  &__image{
    width: 50%;
    padding: 0 5px 5px;
    @media($bp-larger-than-mobile){
      padding: 0;
      width: 170px;
      height: 170px;
    }
    img{
      width: 100%;
      border: 1px solid #e6e6e6;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
.shema-work{
  background: transparent url("/assets/template/images/work__bg--mobile.jpg") center 30px no-repeat;
  min-height: 692px;
  margin-bottom: 0;
  //display: none;
  @media($bp-larger-than-mobile){
    margin-bottom: 36px;
    min-height: 1040px;
    display: block;
    background: transparent url("/assets/template/images/shema.jpg") center 60px no-repeat;
  }
  &__caption{
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
  }
  .caption__box{
    padding-bottom: 25px;
  }
  &__toggle{
    &.active{
      .toggle-caption__box{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          display: inline-block;
          background-color: $border-color;
          height: 1px;
          width: 100%;
          left: 0;
          right: 0;
          bottom: -15px;
        }
      }
    }

  }

  .caption__border{
    height: 41px;
  }
  &__text{
    margin-top: 14px;
    font-size: 18px;
    color: #4c4c4c;
    margin-bottom: 60px;
    line-height: 135%;
    text-align: center;
    @media($bp-larger-than-mobile){
      max-width: 310px;
      margin-top: 92px;
      font-size: 30px;
      margin-bottom: 177px;
      line-height: 100%;
      text-align: left;
    }
  }
  &__list{
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  &__row{
  }
  &__item{
    position: relative;
    margin-bottom: 19px;
    @media($bp-larger-than-mobile){
      width: 50%;
      margin-bottom: -1px;
    }
    &--left{
      margin-right: auto;
      .shema-work__item-box{
        margin-right: auto;
      }
      &:before{
        content: "";
        display: inline-block;
        background-color: $orange;
        height: 4px;
        top: -4px;
        left: 0;
        right: 0;
        position: absolute;
        @media($bp-larger-than-mobile) {
          top: -12px;
          left: -2px;
          height: 5px;
        }
      }
      &:after{
        @media($bp-larger-than-mobile) {
          width: 12px;
          height: 13px;
          content: "";
          display: inline-block;
          position: absolute;
          top: -16px;
          right: -4px;
          background-color: $orange;
        }
      }
    }
    &--right{
      margin-left: auto;
      .shema-work__item-box{
        margin-left: auto;
      }
      &:before{
        content: "";
        display: inline-block;
        background-color: $orange;
        height: 4px;
        top: -4px;
        right: 0;
        left: 0;
        position: absolute;
        @media($bp-larger-than-mobile) {
          height: 5px;
          right: -2px;
          top: -10px;
        }
      }
      &:after{
        @media($bp-larger-than-mobile) {
          width: 12px;
          height: 13px;
          content: "";
          display: inline-block;
          position: absolute;
          top: -14px;
          left: -4px;
          background-color: $orange;
        }
      }
    }


  }
  &__item-box {
    background-color: #fff;
    padding: 25px 30px 20px;
    min-height: 116px;
    max-width: 370px;
    border: 1px solid $border-color;
    @media($bp-larger-than-mobile){
      min-height: 130px;
    }
  }
  &__name{
    font-size: 16px;
    color: $blue;
    font-weight: $font-weight-bold;
    margin-bottom: 9px;
    @media($bp-larger-than-mobile){
      font-size: 20px;
    }
  }
  &__info{
    font-size: 14px;
    color: #4c4c4c;
    line-height: 130%;
    @media($bp-larger-than-mobile){
      font-size: 16px;
      line-height: 150%;
    }
  }

}
.questions{
  background: transparent url("/assets/template/images/question__bg.jpg") center top no-repeat;
  background-size: cover;
  color: #fff;
  //display: none;
  @media($bp-larger-than-mobile){
    margin-bottom: 40px;
    display: block;
  }
  &__box{
    padding: 25px 15px 20px 15px;
    position: relative;
    @media($bp-larger-than-mobile) {
      padding: 24px 20px 19px 200px;
    }
    &:before{
      @media($bp-larger-than-mobile) {
        position: absolute;
        content: "";
        display: inline-block;
        @include sprite($men);
        top: -13px;
        left: 17px;
      }
    }
  }
  &__caption{
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 12px;
    text-align: center;
    line-height: 110%;
    @media($bp-larger-than-mobile) {
      padding-left: 10px;
      font-size: 30px;
      text-align: left;
      line-height: 120%;
      margin-bottom: 21px;
    }
    .in-mobile{
      font-size: 20px;
    }
  }
  &__forma{
    display: flex;
    color: #000;
    flex-direction: column;
    @media($bp-larger-than-mobile) {
      flex-direction: row;
    }
    textarea{
      width: 100%;
      height: 70px;
      border-radius: 3px;
      resize: none;
      padding: 11px;
      font-size: 13px;
      @media($bp-larger-than-mobile) {
        font-size: 14px;
      }
    }
  }
  &__left{
    width: 100%;
    margin-bottom: 20px;
    @media($bp-larger-than-mobile) {
      margin-bottom: 0;
    }
  }
  &__right{
    position: relative;
    @media($bp-larger-than-mobile) {
      padding-right: 10px;
      width: 440px;
      flex-shrink: 0;
    }
  }
  &__grid{
    display: flex;
    flex-direction: column;
    @media($bp-larger-than-mobile) {
      flex-direction: row;
    }
  }
  &__item{
    width: 100%;
    @media($bp-larger-than-mobile) {
      margin-bottom: 0;
      margin-left: 30px;
    }
    &--phone{
      width: 50%;
      margin-bottom: 20px;
      @media($bp-larger-than-mobile) {
        width: 100%;
        margin-bottom: 2px;
      }
    }
    &--submit{
      text-align: center;
    }
    input[type="text"]{
      width: 100%;
      border-radius: 3px;
      font-size: 13px;
      height: 32px;
      @media($bp-larger-than-mobile) {
        font-size: 14px;
        height: 38px;
      }
    }
    .btn{
      @media($bp-larger-than-mobile) {
        width: 100%;
      }
    }
  }
  &__agree{
    color: #fff;
    position: absolute;
    top: -4px;
    left: 50%;
    padding-left: 20px;
    @media($bp-larger-than-mobile) {
      top: auto;
      left: auto;
      position: relative;
      padding-left: 30px;
      padding-top: 12px;
    }
    .check-custom .label{
      font-size: 12px;
      @media($bp-larger-than-mobile) {
        font-size: 14px;
      }
    }
  }

}
.contacts{
  //display: none;
  padding-top: 26px;
  @media($bp-larger-than-mobile){
    display: block;
    padding-top: 0;
  }
  &__toggle{
    padding-bottom: 25px;
    .toggle-caption__box{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        display: inline-block;
        background-color: $border-color;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -25px;
      }
    }
  }
  &__caption{
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-mobile){
      flex-direction: row;
      margin-bottom: 30px;
    }
  }
  &__item{
    width: 270px;
    height: 120px;
    border: 1px solid #e6e6e6;
    padding: 28px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    @media($bp-larger-than-mobile){
      margin-bottom: 0;
    }
    &--1{
      background: transparent url("/assets/template/images/address__bg.jpg") center top no-repeat;
    }
    &--2{
      background: transparent url("/assets/template/images/time__bg.jpg") center top no-repeat;
    }
    &--3{
      background: transparent url("/assets/template/images/phone__bg.jpg") center top no-repeat;
    }
    &--4{
      background: transparent url("/assets/template/images/mail__bg.jpg") center top no-repeat;
    }
  }
  &__name{
    margin-bottom: 6px;
  }
  &__value{
    font-weight: bold;
    color: #355582;
  }
  &__phone{
    text-decoration: none;
    color: #fe9500;
    font-size: 14px;
    font-weight: bold;
  }
  &__map{
    margin-bottom: 0;
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
    }
    img{
      width: 100%;
    }
  }
  .caption-block{
    margin-bottom: 0;
  }
  .caption__box{
    padding-bottom: 41px;
  }
  .caption__border{
    border-bottom: 0 none;
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
}
.footer{
  padding: 20px 0;
  //display: none;
  @media($bp-larger-than-mobile){
    display: block;
    padding: 17px 0;
  }
  &__list {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-mobile){
      flex-direction: row;
      font-size: 16px;
    }
  }
  a{
    color: $orange;
    text-decoration: none;
    transition: $anim;
    &:hover{
      color: $blue;
    }
  }
  &__copyright{
    margin-bottom: 10px;
    @media($bp-larger-than-mobile){
      margin-bottom: 0;
    }
  }
  &__politic{
    margin-bottom: 10px;
    @media($bp-larger-than-mobile){
      margin-bottom: 0;
    }
  }
}

.grateful{
  position: relative;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: auto;
  margin-right: auto;
  @media($bp-larger-than-mobile){
    margin-left: 0;
    margin-right: 0;
  }
  &:before{
    z-index: 1;
    content: "";
    display: inline-block;
    border: 1px solid $border-color;
    top: 40px;
    bottom: 44px;
    left: 0;
    right: 0;
    position: absolute;
  }
  &__box{
    position: relative;
    z-index: 2;
  }
}
.prices{

  //display: none;
  @media($bp-larger-than-mobile){
    margin-bottom: 43px;
    display: block;
  }
  .caption__border{
    border-bottom: 0 none;
    &:before{
      bottom: 0px;
    }
    &:after{
      bottom: 0px;
    }
  }
  &__caption{
    display: none;
    @media($bp-larger-than-mobile){
      display: block;
      margin-bottom: 28px;
    }
  }
  &__grid{
    display: flex;
    padding-bottom: 17px;
    flex-direction: column;
    margin-left: -12px;
    margin-right: -12px;
    @media($bp-larger-than-mobile){
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 26px;
      flex-direction: row;
      border-bottom: 1px solid $border-color;
    }
    .grateful{
      flex-shrink: 0;
      width: 272px;
    }
  }
  &__box{
    margin-bottom: 15px;
    overflow: auto;
    @media($bp-larger-than-mobile){
      margin-bottom: 0;
      padding-right: 30px;
    }
  }
  &__table{
    border-collapse: separate;
    table-layout: fixed;
    @media($bp-larger-than-mobile){
      width: 100%;
    }
    td{
      border: 0 none;
      border-left: 3px solid #fff;
      border-right: 3px solid #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 32px;
      text-align: center;
      padding-left: 17px;
      padding-right: 17px;
      white-space: nowrap;
      font-size: 14px;
      @media($bp-larger-than-mobile){
        font-size: 16px;
        height: 40px;
      }
      &:first-child{
        border-left: 0 none;
      }
      &:last-child{
        border-right: 0 none;
      }
    }
    .alt{
      td{
        background-color: #f2f2f2;
        //font-size: 16px;
      }
    }
    .first{
      td{
        font-weight: bold;
        color: #355582;
        font-size: 16px;
        @media($bp-larger-than-mobile){
          font-size: 20px;
        }
      }
    }
  }
}

.grateful-slider{
  .slick-prev,
  .slick-next{
    z-index: 100;
    width: 40px;
    height: 28px;
    line-height: 28px;
    transition: $anim;
    &:hover{
      &:before,
      &:before{
        color: $orange;
      }
    }
  }
  .slick-prev{
    left: -48px;
  }
  .slick-next{
    right: -48px;
  }
  .slick-prev:before,
  .slick-next:before{
    color: $border-color;
    font-family: FontAwesome;
    content: '\f104';
    display: inline-block;
    font-size: 75px;
    line-height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: $anim;
  }
  .slick-next:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\f105';
  }
  .slick-slide{
    > div{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


$checkboxSizeAgree: 18px;
$checkboxSizeAgreeMobile: 14px;
.check-custom {
  position: relative;
  .checkbox-custom {
    width: $checkboxSizeAgreeMobile;
    height: $checkboxSizeAgreeMobile;
    //border: 1px solid #aeaeae;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: $checkboxSizeAgreeMobile;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    @media($bp-larger-than-mobile) {
      margin-right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: $checkboxSizeAgree;
      height: $checkboxSizeAgree;
      line-height: $checkboxSizeAgree;
    }
  }
  .label {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    padding-left: 25px;
    cursor: pointer;
    font-weight: normal;
  }
  input.checkbox[type="checkbox"] {
    display: none;
  }
  .checkbox:checked + .checkbox-custom::before {
    @include sprite($check);
    font-size: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    line-height: $checkboxSizeAgreeMobile;
    position: absolute;
    color: $biruza;
    content: "";
    @media($bp-larger-than-mobile) {
      line-height: $checkboxSizeAgree;
    }
  }
  .checkbox.error + .checkbox-custom {
    border-color: $red;
  }
}

.caption{
  &__box{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media($bp-larger-than-mobile) {
      padding-bottom: 43px;
    }
  }
  &__text{
    @media($bp-larger-than-mobile) {
      background-color: #fff;
      padding: 0 18px;
      position: relative;
      z-index: 3;
    }
  }
  &__border{
    content: "";
    height: 59px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $border-color;
    z-index: 1;
    display: none;
    @media($bp-larger-than-mobile) {
      display: block;
    }
    &:before{
      position: absolute;
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: $border-color;
      left: 100%;
      bottom: -1px;
    }
    &:after{
      position: absolute;
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: $border-color;
      right: 100%;
      bottom: -1px;
    }
  }
}

.xtab{
  display: none;
  &.active{
    display: block;
  }
  &__nav{
    text-align: center;
    overflow: hidden;
    ul{
      margin-bottom: 0;
      list-style-type: none;
      display: inline-block;
      font-size: 0;
      position: relative;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      width: 100%;
      @media($bp-larger-than-mobile) {
        border: 0 none;
        width: auto;
      }
      &:before{
        @media($bp-larger-than-mobile) {
          position: absolute;
          content: "";
          display: inline-block;
          width: 100%;
          height: 1px;
          background-color: $border-color;
          right: 100%;
          top: 0;
        }
      }
      &:after{
        @media($bp-larger-than-mobile) {
          position: absolute;
          content: "";
          display: inline-block;
          width: 100%;
          height: 1px;
          background-color: $border-color;
          left: 100%;
          top: 0;
        }
      }
      li{
        display: block;
        font-size: 0;
        margin-bottom: 0;
        @media($bp-larger-than-mobile) {
          display: inline-block;
          margin-bottom: 10px;
        }
        a{
          display: inline-block;
          border-top: 0 none;
          border-bottom: 1px solid $border-color;
          text-decoration: none;
          color: #355582;
          padding: 6px 15px;
          font-size: 14px;
          width: 100%;
          @media($bp-larger-than-mobile) {
            padding: 13px 20px;
            font-size: 20px;
            border-top: 1px solid $border-color;
            border-bottom: 0;
            width: auto;
          }
          &.active{
            color: #4c4c4c;
            @media($bp-larger-than-mobile) {
              border-top: 0px none;
              border-bottom: 1px solid $border-color;
              border-left: 1px solid $border-color;
              border-right: 1px solid $border-color;
            }
          }
          &:hover{
            color: #4c4c4c;
          }
        }
      }
    }
  }
}

.popover{
  width: 255px;
  height: 235px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1010;
  &__inner{
    padding: 10px;
  }
  &__image{
    margin-bottom: 10px;
    img{
      width: 100%;
    }
  }
  &__descr{
    text-align: center;
    font-size: 16px;
    color: #4c4c4c;
  }
}
#map-contacts{
  height: 340px;
  border: 1px solid $border-color;
}