.gallery-card{
  &__border{
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 40px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 111px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      max-width: 1024px;
      width: 100%;
      transform: translateX(-50%);
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__box{
    display: flex;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    justify-content: space-between;
  }
  &__info{
    padding-right: 15px;
  }
  &__images{
    width: 537px;
    padding-left: 15px;
  }
  &__name{
    font-weight: $font-weight-bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #666666;
  }

  &__image{
    display: none;
    &:first-child{
      display: block;
    }
    img{
      width: 100%;
      border-radius: 4px;
      border: 1px solid $border-color;
    }
  }
  &__main-images{
    margin-bottom: 20px;
  }
  &__previews{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
  }
  &__preview{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    img{
      width: 100%;
      border-radius: 4px;
      border: 1px solid $border-color;
      cursor: pointer;
    }
  }

  &__neighbors{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__link-prev{
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    a{
      display: flex;
      border: 1px solid $border-color;
      font-size: 15px;
      text-decoration: none;
      height: 80px;
      align-items: center;
      text-align: right;
      padding: 5px 18px 5px 56px;
      position: relative;
      border-radius: 4px;
      &:before{
        display: inline-block;
        content: "";
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        @include sprite($arrow);
      }
      &:hover{
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
        color: #4c4c4c;
      }
    }
  }
  &__link-next{
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    a{
      display: flex;
      border: 1px solid $border-color;
      font-size: 15px;
      text-decoration: none;
      height: 80px;
      align-items: center;
      text-align: left;
      padding: 5px 56px 5px 18px;
      position: relative;
      border-radius: 4px;
      &:before{
        display: inline-block;
        content: "";
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        @include sprite($arrow);
      }
      &:hover{
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
        color: #4c4c4c;
      }
    }
  }

}
.gallery-params{
  &__list{
    margin-bottom: 24px;
  }
  &__row{
    display: flex;
    margin-bottom: 12px;
  }
  &__name{
    max-width: 266px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    &:after{
      display: inline-block;
      content: "";
      flex: 1;
      height: 15px;
      border-bottom: 1px dotted #4c4c4c;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__value{

  }
  &__link{
    margin-bottom: 10px;
  }


}

.gallery-description{
  padding-bottom: 15px;
  &__caption{
    font-size: 20px;
    color: #666666;
    font-weight: $font-weight-bold;
  }
}
.gallery-share{
  border-top: 1px solid $border-color;
  padding-top: 30px;
  display: flex;
  align-items: center;
  &__info{
    width: 100px;
    font-size: 15px;
  }
  a{
    font-size: 0;
    margin-left: 5px;
    margin-right: 5px;
    transition: $anim;
    &:hover{
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    }
    img{
      vertical-align: middle;
    }
  }
}


.viewed-product {
  padding-bottom: 25px;
  margin-bottom: 10px;
  margin-top: 12px;
  &__border {
    position: relative;
    padding-bottom: 4px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      max-width: 900px;
      width: 100%;
      transform: translateX(-50%);
    }
    > div {
      position: relative;
      z-index: 2;
    }
  }
  &__grid {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }
}