.gallery-page{

}

.gallery-nav{
  margin-top: 63px;
  margin-bottom: 60px;
  ul{
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    list-style-type: none;
  }
  li{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 300px;
    &.active{
      color: #4c4c4c;
      a{
        &:before{
          opacity: 1;
        }
      }
    }
  }
  a{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid $border-color;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    transition: $anim;
    &:before{
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      content: "";
      display: inline-block;
      background: linear-gradient(0deg, #d7d7d7 0%, #f2f2f2 100%);
      opacity: 0;
      transition: $anim;
      border-radius: 4px;
      z-index: 1;
    }
    &:hover{
      color: #4c4c4c;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    }
    span{
      z-index: 3;
    }
  }
}


.gallery-catalog{
  &__border{
    position: relative;
    margin-bottom: 40px;
    padding-top: 30px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 5px;
      left: 50%;
      right: 111px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      max-width: 900px;
      width: 100%;
      transform: translateX(-50%);
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__grid{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    padding-left: 15px;
    padding-right: 15px;
  }
  &__card{
    position: relative;
    width: 270px;
    height: 270px;
    display: block;
    margin-bottom: 30px;
    &:hover{
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
      .gallery-catalog__info{
        max-height: 100%;
        background: rgba(102, 102, 102, 0.7);
      }
      .gallery-catalog__name{
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 10px;
        &:after{
          opacity: 1;
          width: 80px;
        }
      }
    }
  }
  &__info{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(102, 102, 102, 0.5);
    padding: 15px;
    text-align: center;
    transition: $cubic;
    height: 100%;
    max-height: 86px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
  }
  &__name{
    font-weight: $font-weight-bold;
    font-size: 16px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    transition: $cubic;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 3px;
      background-color: $gold;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.2;
      transition: $cubic;
    }
  }
  &__description{
    font-size: 14px;
  }
  &__image{
    img{
      width: 100%;
      border: 1px solid $border-color;
      border-radius: 4px;
    }
  }
  &__goto{
    text-align: center;
  }
  &__goto-link{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    color: #4c4c4c;
    position: relative;
    z-index: 2;
  }
}

