
.product-page{
  &__border{
    position: relative;
    padding-bottom: 0;
    @media($bp-larger-than-desktop){
      padding-bottom: 36px;
    }
    &:before{
      display: none;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 111px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      max-width: 1024px;
      width: 100%;
      transform: translateX(-50%);
      @media($bp-larger-than-desktop){
        content: "";
        display: inline-block;
      }
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__box{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    @media($bp-larger-than-desktop){
      margin-left: 0;
      margin-right: 0;
      max-width: none;
      flex-direction: row;
    }
    @media($bp-larger-than-desktop){

      border: 1px solid $border-color;
      border-radius: 5px;
    }
  }
  &__images{
    @media($bp-larger-than-desktop){
      width: 400px;
      flex-shrink: 0;
      display: flex;
      padding: 30px 15px;
    }
    @media($bp-larger-than-desktophd){
      width: 485px;
      height: 360px;
    }
  }
  &__params{
    width: 100%;
    padding: 21px 0 6px;
    @media($bp-larger-than-desktop){
      padding: 24px 15px;
    }
  }
  &__actions{
    max-width: 350px;
    flex-shrink: 0;
    @media($bp-larger-than-desktop) {
      max-width: 350px;
      width: 270px;
      border-left: 1px solid $border-color;
    }
  }
}

.product-previews{
  height: 360px;
  display: none;
  @media($bp-larger-than-desktophd){
    display: block;
  }
  &__item{
    margin-bottom: 10px;
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.product-image{
  &__list{
    @media($bp-larger-than-desktop) {
      width: 360px;
    }
    .slick-dots{
      &__wrapper{
        position: absolute;
        bottom: -30px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        .slick-dots{
          position: relative;
          bottom: auto;
          display: inline-block;
          width: auto;
          line-height: 10px;
          vertical-align: middle;
        }
        .slick-dots-prev{
          //border: 1px red solid;
          //width: 12px;
          height: 10px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          cursor: pointer;
          margin-right: 4px;
          line-height: 10px;
          &:before{
            display: inline-block;
            content: "";
            @include sprite($arrow-slider);
            transform: rotate(180deg);
          }
        }
        .slick-dots-next{
          //border: 1px red solid;
          //width: 12px;
          height: 10px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          cursor: pointer;
          margin-left: 4px;
          line-height: 10px;
          &:before{
            display: inline-block;
            content: "";
            @include sprite($arrow-slider);
          }
        }
      }
      li {
        width: 10px;
        height: 10px;
        margin: 0 3px;
        vertical-align: middle;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
          margin: 0 2px;
        }
        button{
          width: 10px;
          height: 10px;
          @media($bp-larger-than-desktop){
            width: 15px;
            height: 15px;
          }
        }
        &.slick-active button::before {
          background-color: $gold;
        }
      }
      button::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: $border-color;
        opacity: 1;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  &__item{
    img{
      width: 100%;
      max-width: 100%;
    }
  }
}
.product-params{
  &__list{
    margin-bottom: 16px;
    border-bottom: 1px solid $border-color;
    @media($bp-larger-than-desktop) {
      margin-bottom: 24px;
      border: 0 none;
    }
  }
  &__row{
    @media($bp-larger-than-desktop) {
      display: flex;
      margin-bottom: 12px;
    }
  }
  &__name{
    width: 100%;
    background-color: $border-color;
    text-align: center;
    padding: 6px 3px 7px;
    @media($bp-larger-than-desktop) {
      padding: 0;
      text-align: left;
      max-width: 200px;
      flex-shrink: 0;
      display: flex;
      background-color: #fff;
    }
    &:after{
      flex: 1;
      height: 15px;
      border-bottom: 1px dotted #4c4c4c;
      margin-left: 4px;
      margin-right: 4px;
      @media($bp-larger-than-desktop) {
        display: inline-block;
        content: "";
      }
    }
  }
  &__value{
    padding: 6px 3px 7px;
    text-align: center;
    @media($bp-larger-than-desktop) {
      text-align: left;
      padding: 0;
    }
  }
  &__link{
    margin-bottom: 10px;
    text-align: center;
    @media($bp-larger-than-desktop) {
      text-align: left;
    }
  }
}
.gold__link{
  color: $gold;
  font-weight: $font-weight-bold;
  text-decoration: none;
  &:hover{
    color: #4c4c4c;
  }
}
.product-actions{
  &__cost{
    text-align: center;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding-top: 17px;
    padding-bottom: 19px;
    @media($bp-larger-than-desktop) {
      padding-top: 25px;
      padding-bottom: 29px;
      border-top: 0 none;
    }
  }
  &__price{
    font-size: 36px;
    font-weight: $font-weight-bold;
    line-height: 27px;
    @media($bp-larger-than-desktop) {
      padding-left: 0;
    }

  }
  &__price-per{
    color: #999999;
    font-size: 14px;
    line-height: 100%;
  }
  .rub {
    position: relative;
    margin-left: 4px;
    &:before {
      font-size: 28px;
      font-weight: $font-weight-bold;
    }
  }
  &__row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__quontity{
    border-bottom: 1px solid $border-color;
    padding-top: 20px;
    padding-bottom: 18px;
    @media($bp-larger-than-desktop) {
      padding-left: 0;
      padding-top: 29px;
      padding-bottom: 29px;
    }
  }
  &__quontity-text{
    color: #999999;
    font-size: 14px;
    width: 80px;
  }
  &__buy{
    border-bottom: 1px solid $border-color;
    padding-top: 20px;
    padding-bottom: 19px;
    text-align: center;
    @media($bp-larger-than-desktop) {
      padding-bottom: 29px;
    }
    .btn{
      max-width: 210px;
      font-weight: $font-weight-bold;
    }
  }
  &__advantages{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 15px;
    min-height: 120px;
    border-bottom: 1px solid $border-color;
    @media($bp-larger-than-desktop) {
      min-height: 129px;
      border-bottom: 0 none;
      padding-left: 30px;
    }
    ul{
      margin: 0;
      list-style-type: none;
      li{
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 20px;
        position: relative;
        &:before{
          display: inline-block;
          content: "\f00c";
          font-family: FontAwesome;
          color: $gold;
          position: absolute;
          left: 0;
          top: 5px;
          font-size: 10px;
        }
      }
    }
  }
}
.description-product{
  padding-bottom: 18px;
  margin-top: 16px;
  @media($bp-larger-than-desktop){
    margin-top: 27px;
  }
  &__border{
    position: relative;
    @media($bp-larger-than-desktop) {
      padding-bottom: 34px;
    }
    &:before{
      display: none;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      width: 718px;
      transform: translateX(-50%);
      @media($bp-larger-than-desktop){
        content: "";
        display: inline-block;
      }
    }
    > div{
      position: relative;
      z-index: 2;
    }
  }
  &__text{
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: #fff;
    padding: 0 20px;
    line-height: 145%;
    @media($bp-larger-than-desktop) {
      line-height: 159%;
    }
    p{
      margin: 12px 0 24px;
      line-height: 145%;
      @media($bp-larger-than-desktop) {
        line-height: 159%;
      }
      &:last-child{
        margin-bottom: 14px;
      }
    }
  }
}
.similar-product {
  margin-bottom: 10px;
  @media($bp-larger-than-desktop){
    padding-bottom: 25px;
    margin-top: 12px;
    display: block;
  }
  &__border {
    position: relative;
    padding-bottom: 4px;
    &:before {
      display: none;
      position: absolute;
      top: 17px;
      bottom: 5px;
      left: 50%;
      right: 50%;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      z-index: 1;
      width: 900px;
      transform: translateX(-50%);
      @media($bp-larger-than-desktop){
        content: "";
        display: inline-block;
      }
    }
    > div {
      position: relative;
      z-index: 2;
    }
  }
  &__grid {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }
}


.similar-product-slider{
  &.slick-dotted.slick-slider{
    margin-bottom: 11px;
    padding-bottom: 25px;
    @media($bp-larger-than-tablet){
      margin-bottom: 25px;
    }
  }
  .slick-dots{
    &__wrapper{
      position: absolute;
      bottom: -5px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      .slick-dots{
        position: relative;
        bottom: auto;
        display: inline-block;
        width: auto;
        line-height: 10px;
        vertical-align: middle;
      }
      .slick-dots-prev{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-right: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
          transform: rotate(180deg);
        }
      }
      .slick-dots-next{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-left: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
        }
      }
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      vertical-align: middle;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
        margin: 0 2px;
      }
      button{
        width: 10px;
        height: 10px;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
        }
      }
      &.slick-active button::before {
        background-color: $gold;
      }
    }
    button::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $border-color;
      opacity: 1;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
      }
    }
  }
}



.viewed-product-slider{
  &.slick-dotted.slick-slider{
    margin-bottom: 11px;
    padding-bottom: 25px;
    @media($bp-larger-than-tablet){
      margin-bottom: 25px;
    }
  }
  .slick-dots{
    &__wrapper{
      position: absolute;
      bottom: -5px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      .slick-dots{
        position: relative;
        bottom: auto;
        display: inline-block;
        width: auto;
        line-height: 10px;
        vertical-align: middle;
      }
      .slick-dots-prev{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-right: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
          transform: rotate(180deg);
        }
      }
      .slick-dots-next{
        //border: 1px red solid;
        //width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        margin-left: 4px;
        line-height: 10px;
        &:before{
          display: inline-block;
          content: "";
          @include sprite($arrow-slider);
        }
      }
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      vertical-align: middle;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
        margin: 0 2px;
      }
      button{
        width: 10px;
        height: 10px;
        @media($bp-larger-than-desktop){
          width: 15px;
          height: 15px;
        }
      }
      &.slick-active button::before {
        background-color: $gold;
      }
    }
    button::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $border-color;
      opacity: 1;
      @media($bp-larger-than-desktop){
        width: 15px;
        height: 15px;
      }
    }
  }
}