/*
Light
Regular
Semibold
Bold
*/
$biruza: #008a9b;
$red: #b3071b;
$fon-gray: #4d4c4a;
$gray-light: #e8e8e8;
$green: #339933;
$anim: all 0.2s ease 0s;
$overlay: rgba(49,49,49,0.8);
$block-shadow-down: 0 12px 6px -8px #cacaca;
$anim5: all 0.5s;
$cubic: all 0.5s cubic-bezier(0.3, 0, 0.2, 1);
$blue: #355582;
$cubic02: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
$border-color: #e6e6e6;
$orange: #fe9600;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;