// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 562px;
$arrow-down-y: 329px;
$arrow-down-offset-x: -562px;
$arrow-down-offset-y: -329px;
$arrow-down-width: 17px;
$arrow-down-height: 14px;
$arrow-down-total-width: 873px;
$arrow-down-total-height: 597px;
$arrow-down-image: '/assets/template/css/sprites/sprite.png';
$arrow-down: (562px, 329px, -562px, -329px, 17px, 14px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'arrow-down', );
$arrow-gray-right-name: 'arrow-gray-right';
$arrow-gray-right-x: 564px;
$arrow-gray-right-y: 295px;
$arrow-gray-right-offset-x: -564px;
$arrow-gray-right-offset-y: -295px;
$arrow-gray-right-width: 18px;
$arrow-gray-right-height: 34px;
$arrow-gray-right-total-width: 873px;
$arrow-gray-right-total-height: 597px;
$arrow-gray-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-gray-right: (564px, 295px, -564px, -295px, 18px, 34px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'arrow-gray-right', );
$arrow-gray-name: 'arrow-gray';
$arrow-gray-x: 546px;
$arrow-gray-y: 295px;
$arrow-gray-offset-x: -546px;
$arrow-gray-offset-y: -295px;
$arrow-gray-width: 18px;
$arrow-gray-height: 34px;
$arrow-gray-total-width: 873px;
$arrow-gray-total-height: 597px;
$arrow-gray-image: '/assets/template/css/sprites/sprite.png';
$arrow-gray: (546px, 295px, -546px, -295px, 18px, 34px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'arrow-gray', );
$arrow-slider-name: 'arrow-slider';
$arrow-slider-x: 582px;
$arrow-slider-y: 319px;
$arrow-slider-offset-x: -582px;
$arrow-slider-offset-y: -319px;
$arrow-slider-width: 14px;
$arrow-slider-height: 10px;
$arrow-slider-total-width: 873px;
$arrow-slider-total-height: 597px;
$arrow-slider-image: '/assets/template/css/sprites/sprite.png';
$arrow-slider: (582px, 319px, -582px, -319px, 14px, 10px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'arrow-slider', );
$arrow-name: 'arrow';
$arrow-x: 528px;
$arrow-y: 295px;
$arrow-offset-x: -528px;
$arrow-offset-y: -295px;
$arrow-width: 18px;
$arrow-height: 34px;
$arrow-total-width: 873px;
$arrow-total-height: 597px;
$arrow-image: '/assets/template/css/sprites/sprite.png';
$arrow: (528px, 295px, -528px, -295px, 18px, 34px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'arrow', );
$cart-close-white-name: 'cart-close-white';
$cart-close-white-x: 843px;
$cart-close-white-y: 295px;
$cart-close-white-offset-x: -843px;
$cart-close-white-offset-y: -295px;
$cart-close-white-width: 12px;
$cart-close-white-height: 12px;
$cart-close-white-total-width: 873px;
$cart-close-white-total-height: 597px;
$cart-close-white-image: '/assets/template/css/sprites/sprite.png';
$cart-close-white: (843px, 295px, -843px, -295px, 12px, 12px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'cart-close-white', );
$cart-close-name: 'cart-close';
$cart-close-x: 855px;
$cart-close-y: 295px;
$cart-close-offset-x: -855px;
$cart-close-offset-y: -295px;
$cart-close-width: 12px;
$cart-close-height: 12px;
$cart-close-total-width: 873px;
$cart-close-total-height: 597px;
$cart-close-image: '/assets/template/css/sprites/sprite.png';
$cart-close: (855px, 295px, -855px, -295px, 12px, 12px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'cart-close', );
$cart-gray-name: 'cart-gray';
$cart-gray-x: 763px;
$cart-gray-y: 295px;
$cart-gray-offset-x: -763px;
$cart-gray-offset-y: -295px;
$cart-gray-width: 18px;
$cart-gray-height: 15px;
$cart-gray-total-width: 873px;
$cart-gray-total-height: 597px;
$cart-gray-image: '/assets/template/css/sprites/sprite.png';
$cart-gray: (763px, 295px, -763px, -295px, 18px, 15px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'cart-gray', );
$cart-name: 'cart';
$cart-x: 606px;
$cart-y: 295px;
$cart-offset-x: -606px;
$cart-offset-y: -295px;
$cart-width: 25px;
$cart-height: 20px;
$cart-total-width: 873px;
$cart-total-height: 597px;
$cart-image: '/assets/template/css/sprites/sprite.png';
$cart: (606px, 295px, -606px, -295px, 25px, 20px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'cart', );
$check-name: 'check';
$check-x: 596px;
$check-y: 319px;
$check-offset-x: -596px;
$check-offset-y: -319px;
$check-width: 10px;
$check-height: 8px;
$check-total-width: 873px;
$check-total-height: 597px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (596px, 319px, -596px, -319px, 10px, 8px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'check', );
$clip-gray-name: 'clip-gray';
$clip-gray-x: 822px;
$clip-gray-y: 295px;
$clip-gray-offset-x: -822px;
$clip-gray-offset-y: -295px;
$clip-gray-width: 21px;
$clip-gray-height: 12px;
$clip-gray-total-width: 873px;
$clip-gray-total-height: 597px;
$clip-gray-image: '/assets/template/css/sprites/sprite.png';
$clip-gray: (822px, 295px, -822px, -295px, 21px, 12px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'clip-gray', );
$clip-name: 'clip';
$clip-x: 801px;
$clip-y: 295px;
$clip-offset-x: -801px;
$clip-offset-y: -295px;
$clip-width: 21px;
$clip-height: 12px;
$clip-total-width: 873px;
$clip-total-height: 597px;
$clip-image: '/assets/template/css/sprites/sprite.png';
$clip: (801px, 295px, -801px, -295px, 21px, 12px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'clip', );
$close-name: 'close';
$close-x: 595px;
$close-y: 329px;
$close-offset-x: -595px;
$close-offset-y: -329px;
$close-width: 11px;
$close-height: 11px;
$close-total-width: 873px;
$close-total-height: 597px;
$close-image: '/assets/template/css/sprites/sprite.png';
$close: (595px, 329px, -595px, -329px, 11px, 11px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'close', );
$expo-small-name: 'expo-small';
$expo-small-x: 719px;
$expo-small-y: 295px;
$expo-small-offset-x: -719px;
$expo-small-offset-y: -295px;
$expo-small-width: 22px;
$expo-small-height: 16px;
$expo-small-total-width: 873px;
$expo-small-total-height: 597px;
$expo-small-image: '/assets/template/css/sprites/sprite.png';
$expo-small: (719px, 295px, -719px, -295px, 22px, 16px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'expo-small', );
$expo-name: 'expo';
$expo-x: 311px;
$expo-y: 295px;
$expo-offset-x: -311px;
$expo-offset-y: -295px;
$expo-width: 80px;
$expo-height: 59px;
$expo-total-width: 873px;
$expo-total-height: 597px;
$expo-image: '/assets/template/css/sprites/sprite.png';
$expo: (311px, 295px, -311px, -295px, 80px, 59px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'expo', );
$icon-cosmos-small-name: 'icon-cosmos-small';
$icon-cosmos-small-x: 131px;
$icon-cosmos-small-y: 447px;
$icon-cosmos-small-offset-x: -131px;
$icon-cosmos-small-offset-y: -447px;
$icon-cosmos-small-width: 10px;
$icon-cosmos-small-height: 22px;
$icon-cosmos-small-total-width: 873px;
$icon-cosmos-small-total-height: 597px;
$icon-cosmos-small-image: '/assets/template/css/sprites/sprite.png';
$icon-cosmos-small: (131px, 447px, -131px, -447px, 10px, 22px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-cosmos-small', );
$icon-cosmos-name: 'icon-cosmos';
$icon-cosmos-x: 0px;
$icon-cosmos-y: 518px;
$icon-cosmos-offset-x: 0px;
$icon-cosmos-offset-y: -518px;
$icon-cosmos-width: 37px;
$icon-cosmos-height: 79px;
$icon-cosmos-total-width: 873px;
$icon-cosmos-total-height: 597px;
$icon-cosmos-image: '/assets/template/css/sprites/sprite.png';
$icon-cosmos: (0px, 518px, 0px, -518px, 37px, 79px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-cosmos', );
$icon-inter-maket-small-name: 'icon-inter-maket-small';
$icon-inter-maket-small-x: 675px;
$icon-inter-maket-small-y: 295px;
$icon-inter-maket-small-offset-x: -675px;
$icon-inter-maket-small-offset-y: -295px;
$icon-inter-maket-small-width: 22px;
$icon-inter-maket-small-height: 18px;
$icon-inter-maket-small-total-width: 873px;
$icon-inter-maket-small-total-height: 597px;
$icon-inter-maket-small-image: '/assets/template/css/sprites/sprite.png';
$icon-inter-maket-small: (675px, 295px, -675px, -295px, 22px, 18px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-inter-maket-small', );
$icon-inter-maket-name: 'icon-inter-maket';
$icon-inter-maket-x: 76px;
$icon-inter-maket-y: 370px;
$icon-inter-maket-offset-x: -76px;
$icon-inter-maket-offset-y: -370px;
$icon-inter-maket-width: 75px;
$icon-inter-maket-height: 61px;
$icon-inter-maket-total-width: 873px;
$icon-inter-maket-total-height: 597px;
$icon-inter-maket-image: '/assets/template/css/sprites/sprite.png';
$icon-inter-maket: (76px, 370px, -76px, -370px, 75px, 61px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-inter-maket', );
$icon-rocket-small-name: 'icon-rocket-small';
$icon-rocket-small-x: 697px;
$icon-rocket-small-y: 295px;
$icon-rocket-small-offset-x: -697px;
$icon-rocket-small-offset-y: -295px;
$icon-rocket-small-width: 22px;
$icon-rocket-small-height: 17px;
$icon-rocket-small-total-width: 873px;
$icon-rocket-small-total-height: 597px;
$icon-rocket-small-image: '/assets/template/css/sprites/sprite.png';
$icon-rocket-small: (697px, 295px, -697px, -295px, 22px, 17px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-rocket-small', );
$icon-rocket-name: 'icon-rocket';
$icon-rocket-x: 233px;
$icon-rocket-y: 295px;
$icon-rocket-offset-x: -233px;
$icon-rocket-offset-y: -295px;
$icon-rocket-width: 78px;
$icon-rocket-height: 61px;
$icon-rocket-total-width: 873px;
$icon-rocket-total-height: 597px;
$icon-rocket-image: '/assets/template/css/sprites/sprite.png';
$icon-rocket: (233px, 295px, -233px, -295px, 78px, 61px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'icon-rocket', );
$link-name: 'link';
$link-x: 582px;
$link-y: 295px;
$link-offset-x: -582px;
$link-offset-y: -295px;
$link-width: 24px;
$link-height: 24px;
$link-total-width: 873px;
$link-total-height: 597px;
$link-image: '/assets/template/css/sprites/sprite.png';
$link: (582px, 295px, -582px, -295px, 24px, 24px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'link', );
$maket-1-name: 'maket-1';
$maket-1-x: 158px;
$maket-1-y: 295px;
$maket-1-offset-x: -158px;
$maket-1-offset-y: -295px;
$maket-1-width: 75px;
$maket-1-height: 69px;
$maket-1-total-width: 873px;
$maket-1-total-height: 597px;
$maket-1-image: '/assets/template/css/sprites/sprite.png';
$maket-1: (158px, 295px, -158px, -295px, 75px, 69px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-1', );
$maket-1mobile-name: 'maket-1mobile';
$maket-1mobile-x: 327px;
$maket-1mobile-y: 370px;
$maket-1mobile-offset-x: -327px;
$maket-1mobile-offset-y: -370px;
$maket-1mobile-width: 20px;
$maket-1mobile-height: 18px;
$maket-1mobile-total-width: 873px;
$maket-1mobile-total-height: 597px;
$maket-1mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-1mobile: (327px, 370px, -327px, -370px, 20px, 18px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-1mobile', );
$maket-2-name: 'maket-2';
$maket-2-x: 0px;
$maket-2-y: 447px;
$maket-2-offset-x: 0px;
$maket-2-offset-y: -447px;
$maket-2-width: 63px;
$maket-2-height: 71px;
$maket-2-total-width: 873px;
$maket-2-total-height: 597px;
$maket-2-image: '/assets/template/css/sprites/sprite.png';
$maket-2: (0px, 447px, 0px, -447px, 63px, 71px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-2', );
$maket-2mobile-name: 'maket-2mobile';
$maket-2mobile-x: 210px;
$maket-2mobile-y: 392px;
$maket-2mobile-offset-x: -210px;
$maket-2mobile-offset-y: -392px;
$maket-2mobile-width: 18px;
$maket-2mobile-height: 19px;
$maket-2mobile-total-width: 873px;
$maket-2mobile-total-height: 597px;
$maket-2mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-2mobile: (210px, 392px, -210px, -392px, 18px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-2mobile', );
$maket-3-name: 'maket-3';
$maket-3-x: 63px;
$maket-3-y: 447px;
$maket-3-offset-x: -63px;
$maket-3-offset-y: -447px;
$maket-3-width: 68px;
$maket-3-height: 64px;
$maket-3-total-width: 873px;
$maket-3-total-height: 597px;
$maket-3-image: '/assets/template/css/sprites/sprite.png';
$maket-3: (63px, 447px, -63px, -447px, 68px, 64px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-3', );
$maket-3mobile-name: 'maket-3mobile';
$maket-3mobile-x: 528px;
$maket-3mobile-y: 329px;
$maket-3mobile-offset-x: -528px;
$maket-3mobile-offset-y: -329px;
$maket-3mobile-width: 18px;
$maket-3mobile-height: 17px;
$maket-3mobile-total-width: 873px;
$maket-3mobile-total-height: 597px;
$maket-3mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-3mobile: (528px, 329px, -528px, -329px, 18px, 17px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-3mobile', );
$maket-4-name: 'maket-4';
$maket-4-x: 151px;
$maket-4-y: 370px;
$maket-4-offset-x: -151px;
$maket-4-offset-y: -370px;
$maket-4-width: 59px;
$maket-4-height: 59px;
$maket-4-total-width: 873px;
$maket-4-total-height: 597px;
$maket-4-image: '/assets/template/css/sprites/sprite.png';
$maket-4: (151px, 370px, -151px, -370px, 59px, 59px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-4', );
$maket-4mobile-name: 'maket-4mobile';
$maket-4mobile-x: 546px;
$maket-4mobile-y: 329px;
$maket-4mobile-offset-x: -546px;
$maket-4mobile-offset-y: -329px;
$maket-4mobile-width: 16px;
$maket-4mobile-height: 16px;
$maket-4mobile-total-width: 873px;
$maket-4mobile-total-height: 597px;
$maket-4mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-4mobile: (546px, 329px, -546px, -329px, 16px, 16px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-4mobile', );
$maket-5-name: 'maket-5';
$maket-5-x: 0px;
$maket-5-y: 295px;
$maket-5-offset-x: 0px;
$maket-5-offset-y: -295px;
$maket-5-width: 80px;
$maket-5-height: 75px;
$maket-5-total-width: 873px;
$maket-5-total-height: 597px;
$maket-5-image: '/assets/template/css/sprites/sprite.png';
$maket-5: (0px, 295px, 0px, -295px, 80px, 75px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-5', );
$maket-5mobile-name: 'maket-5mobile';
$maket-5mobile-x: 631px;
$maket-5mobile-y: 295px;
$maket-5mobile-offset-x: -631px;
$maket-5mobile-offset-y: -295px;
$maket-5mobile-width: 22px;
$maket-5mobile-height: 20px;
$maket-5mobile-total-width: 873px;
$maket-5mobile-total-height: 597px;
$maket-5mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-5mobile: (631px, 295px, -631px, -295px, 22px, 20px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-5mobile', );
$maket-6-name: 'maket-6';
$maket-6-x: 80px;
$maket-6-y: 295px;
$maket-6-offset-x: -80px;
$maket-6-offset-y: -295px;
$maket-6-width: 78px;
$maket-6-height: 70px;
$maket-6-total-width: 873px;
$maket-6-total-height: 597px;
$maket-6-image: '/assets/template/css/sprites/sprite.png';
$maket-6: (80px, 295px, -80px, -295px, 78px, 70px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-6', );
$maket-6mobile-name: 'maket-6mobile';
$maket-6mobile-x: 653px;
$maket-6mobile-y: 295px;
$maket-6mobile-offset-x: -653px;
$maket-6mobile-offset-y: -295px;
$maket-6mobile-width: 22px;
$maket-6mobile-height: 19px;
$maket-6mobile-total-width: 873px;
$maket-6mobile-total-height: 597px;
$maket-6mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-6mobile: (653px, 295px, -653px, -295px, 22px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-6mobile', );
$maket-7-name: 'maket-7';
$maket-7-x: 471px;
$maket-7-y: 295px;
$maket-7-offset-x: -471px;
$maket-7-offset-y: -295px;
$maket-7-width: 57px;
$maket-7-height: 51px;
$maket-7-total-width: 873px;
$maket-7-total-height: 597px;
$maket-7-image: '/assets/template/css/sprites/sprite.png';
$maket-7: (471px, 295px, -471px, -295px, 57px, 51px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-7', );
$maket-7mobile-name: 'maket-7mobile';
$maket-7mobile-x: 579px;
$maket-7mobile-y: 329px;
$maket-7mobile-offset-x: -579px;
$maket-7mobile-offset-y: -329px;
$maket-7mobile-width: 16px;
$maket-7mobile-height: 14px;
$maket-7mobile-total-width: 873px;
$maket-7mobile-total-height: 597px;
$maket-7mobile-image: '/assets/template/css/sprites/sprite.png';
$maket-7mobile: (579px, 329px, -579px, -329px, 16px, 14px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'maket-7mobile', );
$metro-name: 'metro';
$metro-x: 781px;
$metro-y: 295px;
$metro-offset-x: -781px;
$metro-offset-y: -295px;
$metro-width: 20px;
$metro-height: 13px;
$metro-total-width: 873px;
$metro-total-height: 597px;
$metro-image: '/assets/template/css/sprites/sprite.png';
$metro: (781px, 295px, -781px, -295px, 20px, 13px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'metro', );
$order-model-name: 'order-model';
$order-model-x: 0px;
$order-model-y: 0px;
$order-model-offset-x: 0px;
$order-model-offset-y: 0px;
$order-model-width: 873px;
$order-model-height: 295px;
$order-model-total-width: 873px;
$order-model-total-height: 597px;
$order-model-image: '/assets/template/css/sprites/sprite.png';
$order-model: (0px, 0px, 0px, 0px, 873px, 295px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'order-model', );
$presentation-active-name: 'presentation-active';
$presentation-active-x: 251px;
$presentation-active-y: 370px;
$presentation-active-offset-x: -251px;
$presentation-active-offset-y: -370px;
$presentation-active-width: 19px;
$presentation-active-height: 19px;
$presentation-active-total-width: 873px;
$presentation-active-total-height: 597px;
$presentation-active-image: '/assets/template/css/sprites/sprite.png';
$presentation-active: (251px, 370px, -251px, -370px, 19px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'presentation-active', );
$presentation-name: 'presentation';
$presentation-x: 270px;
$presentation-y: 370px;
$presentation-offset-x: -270px;
$presentation-offset-y: -370px;
$presentation-width: 19px;
$presentation-height: 19px;
$presentation-total-width: 873px;
$presentation-total-height: 597px;
$presentation-image: '/assets/template/css/sprites/sprite.png';
$presentation: (270px, 370px, -270px, -370px, 19px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'presentation', );
$residential-complex-small-name: 'residential-complex-small';
$residential-complex-small-x: 210px;
$residential-complex-small-y: 370px;
$residential-complex-small-offset-x: -210px;
$residential-complex-small-offset-y: -370px;
$residential-complex-small-width: 22px;
$residential-complex-small-height: 22px;
$residential-complex-small-total-width: 873px;
$residential-complex-small-total-height: 597px;
$residential-complex-small-image: '/assets/template/css/sprites/sprite.png';
$residential-complex-small: (210px, 370px, -210px, -370px, 22px, 22px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'residential-complex-small', );
$residential-complex-name: 'residential-complex';
$residential-complex-x: 0px;
$residential-complex-y: 370px;
$residential-complex-offset-x: 0px;
$residential-complex-offset-y: -370px;
$residential-complex-width: 76px;
$residential-complex-height: 77px;
$residential-complex-total-width: 873px;
$residential-complex-total-height: 597px;
$residential-complex-image: '/assets/template/css/sprites/sprite.png';
$residential-complex: (0px, 370px, 0px, -370px, 76px, 77px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'residential-complex', );
$save-active-name: 'save-active';
$save-active-x: 366px;
$save-active-y: 370px;
$save-active-offset-x: -366px;
$save-active-offset-y: -370px;
$save-active-width: 18px;
$save-active-height: 18px;
$save-active-total-width: 873px;
$save-active-total-height: 597px;
$save-active-image: '/assets/template/css/sprites/sprite.png';
$save-active: (366px, 370px, -366px, -370px, 18px, 18px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'save-active', );
$save-name: 'save';
$save-x: 289px;
$save-y: 370px;
$save-offset-x: -289px;
$save-offset-y: -370px;
$save-width: 19px;
$save-height: 19px;
$save-total-width: 873px;
$save-total-height: 597px;
$save-image: '/assets/template/css/sprites/sprite.png';
$save: (289px, 370px, -289px, -370px, 19px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'save', );
$search-name: 'search';
$search-x: 347px;
$search-y: 370px;
$search-offset-x: -347px;
$search-offset-y: -370px;
$search-width: 19px;
$search-height: 18px;
$search-total-width: 873px;
$search-total-height: 597px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (347px, 370px, -347px, -370px, 19px, 18px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'search', );
$video-active-name: 'video-active';
$video-active-x: 232px;
$video-active-y: 370px;
$video-active-offset-x: -232px;
$video-active-offset-y: -370px;
$video-active-width: 19px;
$video-active-height: 19px;
$video-active-total-width: 873px;
$video-active-total-height: 597px;
$video-active-image: '/assets/template/css/sprites/sprite.png';
$video-active: (232px, 370px, -232px, -370px, 19px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'video-active', );
$video-name: 'video';
$video-x: 308px;
$video-y: 370px;
$video-offset-x: -308px;
$video-offset-y: -370px;
$video-width: 19px;
$video-height: 19px;
$video-total-width: 873px;
$video-total-height: 597px;
$video-image: '/assets/template/css/sprites/sprite.png';
$video: (308px, 370px, -308px, -370px, 19px, 19px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'video', );
$wood-house-small-name: 'wood-house-small';
$wood-house-small-x: 741px;
$wood-house-small-y: 295px;
$wood-house-small-offset-x: -741px;
$wood-house-small-offset-y: -295px;
$wood-house-small-width: 22px;
$wood-house-small-height: 15px;
$wood-house-small-total-width: 873px;
$wood-house-small-total-height: 597px;
$wood-house-small-image: '/assets/template/css/sprites/sprite.png';
$wood-house-small: (741px, 295px, -741px, -295px, 22px, 15px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'wood-house-small', );
$wood-house-name: 'wood-house';
$wood-house-x: 391px;
$wood-house-y: 295px;
$wood-house-offset-x: -391px;
$wood-house-offset-y: -295px;
$wood-house-width: 80px;
$wood-house-height: 56px;
$wood-house-total-width: 873px;
$wood-house-total-height: 597px;
$wood-house-image: '/assets/template/css/sprites/sprite.png';
$wood-house: (391px, 295px, -391px, -295px, 80px, 56px, 873px, 597px, '/assets/template/css/sprites/sprite.png', 'wood-house', );
$spritesheet-width: 873px;
$spritesheet-height: 597px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-gray-right, $arrow-gray, $arrow-slider, $arrow, $cart-close-white, $cart-close, $cart-gray, $cart, $check, $clip-gray, $clip, $close, $expo-small, $expo, $icon-cosmos-small, $icon-cosmos, $icon-inter-maket-small, $icon-inter-maket, $icon-rocket-small, $icon-rocket, $link, $maket-1, $maket-1mobile, $maket-2, $maket-2mobile, $maket-3, $maket-3mobile, $maket-4, $maket-4mobile, $maket-5, $maket-5mobile, $maket-6, $maket-6mobile, $maket-7, $maket-7mobile, $metro, $order-model, $presentation-active, $presentation, $residential-complex-small, $residential-complex, $save-active, $save, $search, $video-active, $video, $wood-house-small, $wood-house, );
$spritesheet: (873px, 597px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
