//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Ошибка 404</li>
        </ul>
    </div>
</div>

<div class="error-page">
    <div class="container">
        <div class="error-page__border">
            <div class="error-page__caption caption-block">
                <span class="caption-block__text">Страница не найдена</span>
            </div>
            <div class="error-page__block">
                <div class="error-page__header">
                    Ошибка 404
                </div>
                <div class="error-page__text">
                    К сожалению, такой страницы на нашем сайте нет.
                    Вы можете перейти на <a href="index.html" class="gold">главную страницу</a>, воспользоваться меню
                    или поиском по сайту:
                </div>
                <div class="search-box">
                    <form action="">
                        <input type="text" class="search" placeholder="Поиск">
                        <button></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

//= include/footer.html