//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Корзина</a></li>
            <li class="active">Спасибо</li>
        </ul>
    </div>
</div>

<div class="cart-thank">
    <div class="container">
        <div class="cart-thank__border">
            <div class="cart-thank__caption caption-block">
                <h1 class="caption-block__text">Спасибо</h1>
                <div class="cart-thank__order-number">
                    Ваш заказ №778 успешно оформлен
                </div>
                <div class="cart-thank__order-table">
                    <table>
                        <tr>
                            <th>Наименование</th>
                            <th>Кол-во</th>
                            <th>Цена</th>
                        </tr>
                        <tr>
                            <td>Макет Кремля. Спасская башня.</td>
                            <td>2 шт.</td>
                            <td>3000 <span class="rub"></span></td>
                        </tr>
                        <tr>
                            <td>Макет собора Василия Блаженного</td>
                            <td>6 шт.</td>
                            <td>24000 <span class="rub"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="cart-thank__order-cost">Итого к оплате: 27000 <span class="rub"></span></div>
            </div>


        </div>
        <div class="cart-dostavka">
            <div class="cart-dostavka__border">
                <div class="cart-dostavka__list">
                    <div class="cart-dostavka__row">
                        <div class="cart-dostavka__name">Способ доставки:</div>
                        <div class="cart-dostavka__value"> На расчетный счет Макетной мастерской «Росмодель»</div>
                    </div>
                    <div class="cart-dostavka__row">
                        <div class="cart-dostavka__name">Способ оплаты:</div>
                        <div class="cart-dostavka__value">Доставка Почтой России (за счет покупателя)</div>
                    </div>
                    <div class="cart-dostavka__row">
                        <div class="cart-dostavka__name">Адрес доставки:</div>
                        <div class="cart-dostavka__value">197136, Санкт-Петербург, Большой пр. Петрогр. стороны, д. 74, кв. 5</div>
                    </div>
                    <div class="cart-dostavka__row">
                        <div class="cart-dostavka__name">Получатель:</div>
                        <div class="cart-dostavka__value">Иван Иванов</div>
                    </div>
                    <div class="cart-dostavka__row">
                        <div class="cart-dostavka__name">Телефон:</div>
                        <div class="cart-dostavka__value">+791100012323</div>
                    </div>
                    <div class="cart-dostavka__link">
                        <a class="gold__link" href="#">Скачать счет для оплаты</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>