//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Корзина</li>
        </ul>
    </div>
</div>

<div class="order-cart">
    <div class="container">
        <div class="order-cart__border">
            <div class="order-cart__caption caption-block">
                <span class="caption-block__text">Ваша корзина</span>
            </div>
            <div id="msCart">
                <div class="order-cart__table">
                    <div class="order-cart__row order-cart__row-header">
                        <div class="order-cart__name-header">Макеты в корзине</div>
                        <div class="order-cart__price-header">Цена</div>
                        <div class="order-cart__quontity-header">Кол-во</div>
                        <div class="order-cart__cost-header">Сумма</div>
                        <div class="order-cart__delete-header">Удалить</div>
                    </div>




                    <div class="order-cart__row" id="767618f1bc1a220566d0bd9d2e5e0942">
                        <div class="order-cart__name">
                            <div class="order-cart__name-table">
                                <div class="order-cart__image">
                                    <img src="/assets/template/images/tmp/product-cart.jpg" alt="Амортизатор АТТОЛИ Задний" title="Амортизатор АТТОЛИ Задний"/>
                                </div>
                                <div class="order-cart__name-box">
                                    <div class="order-cart__product-name">
                                        Макет Кремля. Спасская башня.
                                    </div>
                                    <div class="order-cart__params">
                                        <div class="order-param row">
                                            <span class="order-param__key">Материал:</span>
                                            <span class="order-param__value">Бронза</span>
                                        </div>
                                        <div class="order-param row">
                                            <span class="order-param__key">Масштаб:</span>
                                            <span class="order-param__value">1:9000</span>
                                        </div>
                                        <div class="order-param row">
                                            <span class="order-param__key">Габариты упаковки:</span>
                                            <span class="order-param__value">11x11x12см</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-cart__price cart-mobile__row">
                            <span class="cart-mobile__label">Цена</span>
                            <span class="cart-mobile__value">
                                1500 <span class="rub"></span>
                            </span>
                        </div>
                        <div class="order-cart__quontity cart-mobile__row">
                            <span class="cart-mobile__label">Кол-во</span>
                            <form method="post" class="ms2_form cart-mobile__value" role="form">
                                <input type="hidden" name="key" value="767618f1bc1a220566d0bd9d2e5e0942"/>
                                <div class="product__quontity">
                                    <span class="quontity__plus"></span>
                                    <span class="quontity__minus"></span>
                                    <input type="text" value="1">
                                </div>
                                <button class="btn btn-default" type="submit" name="ms2_action" value="cart/change" style="display: none;">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                            </form>
                        </div>
                        <div class="order-cart__cost cart-mobile__row">
                            <span class="cart-mobile__label">Сумма</span>
                            <span class="cart-mobile__value">
                                1500 <span class="rub"></span>
                            </span>
                        </div>
                        <div class="order-cart__delete">
                            <form method="post" class="ms2_form">
                                <input type="hidden" name="key" value="767618f1bc1a220566d0bd9d2e5e0942">
                                <button class="btn-delete" type="submit" name="ms2_action" value="cart/remove"></button>
                            </form>
                        </div>

                    </div>



                    <div class="order-cart__row" id="767618f1bc1a220566d0bd9d2e5e0942">
                        <div class="order-cart__name">
                            <div class="order-cart__name-table">
                                <div class="order-cart__image">
                                    <img src="/assets/template/images/tmp/product-cart.jpg" alt="Амортизатор АТТОЛИ Задний" title="Амортизатор АТТОЛИ Задний"/>
                                </div>
                                <div class="order-cart__name-box">
                                    <div class="order-cart__product-name">
                                        Макет собора Василия блаженного
                                    </div>
                                    <div class="order-cart__params">
                                        <div class="order-param row">
                                            <span class="order-param__key">Материал:</span>
                                            <span class="order-param__value">Бронза</span>
                                        </div>
                                        <div class="order-param row">
                                            <span class="order-param__key">Масштаб:</span>
                                            <span class="order-param__value">1:9000</span>
                                        </div>
                                        <div class="order-param row">
                                            <span class="order-param__key">Габариты упаковки:</span>
                                            <span class="order-param__value">11x11x12см</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-cart__price cart-mobile__row">
                            <span class="cart-mobile__label">Цена</span>
                            <span class="cart-mobile__value">
                                4000 <span class="rub"></span>
                            </span>
                        </div>
                        <div class="order-cart__quontity cart-mobile__row">
                            <span class="cart-mobile__label">Кол-во</span>
                            <form method="post" class="ms2_form cart-mobile__value" role="form">
                                <input type="hidden" name="key" value="767618f1bc1a220566d0bd9d2e5e0942"/>
                                <div class="product__quontity">
                                    <span class="quontity__plus"></span>
                                    <span class="quontity__minus"></span>
                                    <input type="text" value="1">
                                </div>
                                <button class="btn btn-default" type="submit" name="ms2_action" value="cart/change" style="display: none;">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                            </form>
                        </div>
                        <div class="order-cart__cost cart-mobile__row">
                            <span class="cart-mobile__label">Сумма</span>
                            <span class="cart-mobile__value">
                                24000 <span class="rub"></span>
                            </span>
                        </div>
                        <div class="order-cart__delete">
                            <form method="post" class="ms2_form">
                                <input type="hidden" name="key" value="767618f1bc1a220566d0bd9d2e5e0942">
                                <button class="btn-delete" type="submit" name="ms2_action" value="cart/remove"></button>
                            </form>
                        </div>

                    </div>
                    <div class="order-cart__row order-cart__row--total">
                        <div class="order-cart__name"></div>
                        <div class="order-cart__price"></div>
                        <div class="order-cart__quontity"></div>
                        <div class="order-cart__cost order-cart__cost--total">
                            <span class="order-cart__cost-label">Итого:</span> <span class="order-cart__cost-value ms2_total_cost">2 058</span> <span class="rub"></span>
                        </div>
                        <div class="order-cart__delete"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="order-form">
    <div class="container">
        <div class="order-form__border">
            <div class="order-form__box">

                <div class="order-form__item order-form-top">
                    <div class="order-form__caption">Заполните форму для получения заказа</div>
                    <div class="order-form-top__grid">
                        <div class="order-form-top__type">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Частное лицо</span>
                            </label>
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Организация</span>
                            </label>
                        </div>
                        <div class="order-form-top__name">
                            <input type="text" name="name" placeholder="Имя">
                        </div>
                        <div class="order-form-top__phone">
                            <input type="text" name="phone" placeholder="Телефон" data-mask="+7(999) 999-99-99">
                        </div>
                        <div class="order-form-top__email">
                            <input type="text" name="phone" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="order-form__item order-form-payment">
                    <div class="order-form__caption">Выберите способ оплаты</div>
                    <div class="order-form-payment__grid">
                        <div class="order-form-payment__item">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Наличные при получении</span>
                            </label>
                        </div>
                        <div class="order-form-payment__item">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Банковская карта при получении</span>
                            </label>
                        </div>
                        <div class="order-form-payment__item">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Безналичный расчет</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="order-form__item order-form-delivery">
                    <div class="order-form__caption">Выберите способ доставки</div>
                    <div class="order-form-delivery__grid">
                        <div class="order-form-delivery__item">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Самовывоз из мастерской (бесплатно)</span>
                            </label>
                        </div>
                        <div class="order-form-delivery__item">
                            <label class="radio-custom">
                                <input name="q1" type="radio" class="radio-custom__input" checked="checked">
                                <span class="radio-custom__pseudo"></span>
                                <span class="radio-custom__label"> Доставка (за  счет покупателя)</span>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="order-form__item order-form-comment">
                    <div class="order-form__caption">Комментарий к заказу</div>
                    <div class="order-form-comment__grid">
                        <div class="order-form-comment__item order-form-comment__item--textarea">
                            <textarea name="" id=""></textarea>
                        </div>
                        <div class="order-form-comment__item order-form-comment__item--actions">
                            <label class="check-custom">
                                <input type="hidden" name="iagree[]" value="0">
                                <input class="checkbox" name="iagree" type="checkbox" value="Согласен">
                                <span class="checkbox-custom"></span>
                                <span class="label">
                                    Я даю согласие на обработку моих персональных данных
                                </span>
                            </label>

                            <button type="submit" class="btn">Оформить заказ</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


//= include/footer.html