//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Корзина</li>
        </ul>
    </div>
</div>

<div class="empty">
    <div class="container">
        <div class="empty__border">
            <div class="empty__caption caption-block">
                <span class="caption-block__text">Корзина</span>
            </div>
            <div class="empty__block">
                <div class="empty__text">
                    <p>К сожалению, в ваша корзина пуста.</p>
                    <p>Чтобы выбрать макет, воспользуйтесь разделом</p>
                </div>
                <div class="empty__link">
                    <a href="#" class="gold">Каталог макетов</a>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html