//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Каталог</li>
        </ul>
    </div>
</div>

<div class="catalog-page">
    <div class="container">
        <div class="catalog-page__border">
            <div class="catalog-page__caption caption-block">
                <span class="caption-block__text">Каталог макетов</span>
            </div>
            <div class="maket-block-mobile">
                <div class="maket-block-mobile__caption">
                    <div class="maket-block-mobile__item maket-block-mobile__item--1" data-toggle=".maket-block-mobile__list">
                        <a href="#">Архитектурные макеты</a>
                    </div>
                </div>
                <ul class="maket-block-mobile__list">
                    <li class="maket-block-mobile__item maket-block-mobile__item--1">
                        <a href="#">Архитектурные макеты</a>
                    </li>
                    <li class="maket-block-mobile__item maket-block-mobile__item--2">
                        <a href="#">Здания и жилые комплексы</a>
                    </li>
                </ul>    
            </div>
            
            <div class="maket-block">
                <div class="maket-block__item maket-block__item--1">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Архитектурные макеты
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--2">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Здания и жилые комплексы
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--3">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Макеты<br /> стадионов
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--4">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Сувениры, <br />подарки
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--5">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Градостроительные макеты
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--6">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Промышленные макеты
                        </div>
                    </a>
                </div>
                <div class="maket-block__item maket-block__item--7">
                    <a href="#" class="maket-block__card">
                        <div class="maket-block__image"> </div>
                        <div class="maket-block__name">
                            Макеты <br />интерьеров
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <div class="catalog__grid">
            //= include/product.html
            //= include/product2.html
            //= include/product3.html
            //= include/product.html

            //= include/product.html
            //= include/product2.html
            //= include/product3.html
            //= include/product.html

            //= include/product.html
            //= include/product2.html
            //= include/product3.html
            //= include/product.html

            //= include/product.html
            //= include/product2.html
            //= include/product3.html
            //= include/product.html

        </div>
    </div>
</div>

<div class="promotion">
    <div class="container">
        <div class="promotion__border">
            <div class="promotion__caption caption-block">
                <span class="caption-block__text">Заголовок к тексту для продвижения</span>
            </div>
            <div class="promotion__text">
                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних
                условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
            </div>
        </div>
    </div>
</div>


//= include/footer.html