//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Оплата и доставка</li>
        </ul>
    </div>
</div>

<div class="contacts">
    <div class="container">
        <div class="contacts__border">
            <div class="contacts__caption caption-block">
                <span class="caption-block__text">Контактная информация</span>
            </div>
            <div class="contacts__grid">
                <div class="contacts__item contacts__address">
                    <div class="contacts__header">Москва</div>
                    <div class="contacts__office">ул. Электрозаводская, 21 к. 23,  оф. 303-304</div>
                    <div class="contacts__metro">«Электрозаводская», «Семеновская»</div>
                </div>
                <div class="contacts__item contacts__phones">
                    <div class="contacts__header">(495)369-21-99</div>
                    <div class="contacts__email"><a href="mailto:ros-model@mail.ru">ros-model@mail.ru</a></div>
                    <div class="contacts__callback"><a href="#">Свяжитесь со мной</a></div>
                </div>
                <div class="contacts__item contacts__worktime">
                    <div class="contacts__header">Режим работы</div>
                    <div class="worktime__item">
                        <div class="worktime__key">Пн. - пт.:</div>
                        <div class="worktime__dots"></div>
                        <div class="worktime__value">11:00 - 20:00</div>
                    </div>
                    <div class="worktime__item">
                        <div class="worktime__key">Сб. - вс.:</div>
                        <div class="worktime__dots"></div>
                        <div class="worktime__value">Выходной</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacts-map">
    <div class="container">
        <div class="contacts-map__border">
            <div id="map"></div>
        </div>
    </div>
</div>


//= include/footer.html