//= include/header.html



<div class="padding-header"></div>



<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
            <li class="active">Портфолио</li></ul>    </div>
</div>



<div class="gallery-page">
    <div class="container">
        <div style="text-align: center;">&nbsp;</div>

        <div style="text-align: center;"><span style="color:#000000;"><big>Добро пожаловать в раздел <span style="text-decoration: underline;"><strong>Портфолио</strong></span> <strong>макетной мастерской Rosmodel</strong>!</big></span></div>

        <p>Здесь Вы можете ознакомиться с примерами наших работ из самых разных областей: от миниатюрных моделей, создаваемых в качестве сувениров и подарков, до крупных градостроительных макетов, используемых при проектировании развития городской среды и согласования таких проектов.</p>

        <p>Мы предлагаем как <a href="https://ros-model.ru/kupit-maket"><strong>готовые макеты</strong></a>, так и создаем уникальные <a href="https://ros-model.ru/maketyi-na-zakaz"><span style="text-decoration: underline;"><strong>макеты под заказ</strong></span></a> с учетом Вашей отрасли, целей и пожеланий. Если Вам необходимо <a href="https://ros-model.ru/page/kviz"><span style="text-decoration: underline;"><strong>заказать макет</strong></span></a>, свяжитесь с нами через форму связи или по телефону.</p>

        <div class="maket-block-mobile">
            <div class="maket-block-mobile__caption">
                <div class="maket-block-mobile__item maket-block-mobile__item--" data-toggle=".maket-block-mobile__list">
                    <a href="#">Портфолио</a>
                </div>
            </div>
            <ul class="maket-block-mobile__list"><li class="maket-block-mobile__item maket-block-mobile__item--1 first">
                <a href="gallery/arxitekturnyie-maketyi">Архитектурные макеты</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--2 ">
                <a href="gallery/makety-domov-i-zdaniy">Макеты домов и зданий</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--5 ">
                <a href="gallery/gradostroitelnyie-maketyi">Градостроительные макеты</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--6 ">
                <a href="gallery/promyishlennyie-maketyi">Промышленные макеты</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--3 ">
                <a href="gallery/maketyi-stadionov">Спортивные сооружения</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--7 ">
                <a href="gallery/maketyi-intererov">Макеты интерьеров</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--4 ">
                <a href="gallery/suveniryi-podarki">Сувениры, подарки</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--6 ">
                <a href="gallery/konczeptualnyie-maketyi">Концептуальные макеты</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--10 ">
                <a href="gallery/izgotovlenie-maketov-zhilyix-kompleksov">Макеты жилых комплексов</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--8 ">
                <a href="gallery/izgotovlenie-maketov-derevyannyix-domov">Макеты деревянных домов</a>
            </li><li class="maket-block-mobile__item maket-block-mobile__item--9 last">
                <a href="gallery/izgotovlenie-maketov-dlya-vyistavok">Макеты для выставок</a>
            </li></ul>        </div>

        <div class="gallery-nav">
            <ul class=""><li class="gallery-nav__item first">
                <a href="gallery/arxitekturnyie-maketyi" class="gallery-nav__link">
                    <span>Архитектурные макеты</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/makety-domov-i-zdaniy" class="gallery-nav__link">
                    <span>Макеты домов и зданий</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/gradostroitelnyie-maketyi" class="gallery-nav__link">
                    <span>Градостроительные макеты</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/promyishlennyie-maketyi" class="gallery-nav__link">
                    <span>Промышленные макеты</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/maketyi-stadionov" class="gallery-nav__link">
                    <span>Спортивные сооружения</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/maketyi-intererov" class="gallery-nav__link">
                    <span>Макеты интерьеров</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/suveniryi-podarki" class="gallery-nav__link">
                    <span>Сувениры, подарки</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/konczeptualnyie-maketyi" class="gallery-nav__link">
                    <span>Концептуальные макеты</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/izgotovlenie-maketov-zhilyix-kompleksov" class="gallery-nav__link">
                    <span>Макеты жилых комплексов</span>
                </a>
            </li><li class="gallery-nav__item ">
                <a href="gallery/izgotovlenie-maketov-derevyannyix-domov" class="gallery-nav__link">
                    <span>Макеты деревянных домов</span>
                </a>
            </li><li class="gallery-nav__item last">
                <a href="gallery/izgotovlenie-maketov-dlya-vyistavok" class="gallery-nav__link">
                    <span>Макеты для выставок</span>
                </a>
            </li></ul>        </div>


        <div class="gallery-catalog">
            <div class="gallery-catalog__border" id="pdopage">
                <div class="gallery-catalog__grid rows">
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/maketyi-stadionov/arxitekturnyij-maket-stadiona-czska-arena-v-g.moskva">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/39/medium/4stadion-czska-1-1_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Архитектурный макет стадиона ЦСКА “Арена” в г.Москва.            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-600            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/suveniryi-podarki/suvenir-kreml.-spasskaya-bashnya-bronza">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/52/medium/1biznes-podarok-kreml_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Сувенир Кремль. "Спасская башня"            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-900            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/konczeptualnyie-maketyi/maket-vitrina-dlya-prezentaczii-duxov-kompanii-hfc-v-torgovom-dome-czum">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/57/medium/1serg3214_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет-витрина  для презентации духов компании HFC в Торговом доме "ЦУМ"            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-35            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/promyishlennyie-maketyi/maket-solnechnoj-elektrostanczii-v-respublike-altaj">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/67/medium/1_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет солнечной электростанции в Республике Алтай            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-750            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/gradostroitelnyie-maketyi/maketyi-tpu">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/75/medium/1img-3825_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Серия макетов транспортно-пересадочных узлов в г. Москва.            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:500, 1:1000            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/konczeptualnyie-maketyi/maket-vitrina">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/158/medium/img-20181207-wa0001_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет-витрина дома для презентации духов компании HFC в ТЦ «Золотое яблоко».            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-35            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/maketyi-stadionov/rekonstruiruemogo-zdaniya-tribun-stadiona-znamya">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/40/medium/1stadion-rekonstrukcziya-tribun-2-_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет реконструируемого здания трибун стадиона “Знамя”            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-200            </div>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="gallery/suveniryi-podarki/masshtabnaya-model-figura-devid-duxovnyi">
                            <div class="gallery-catalog__image">
                                <img src="/assets/cache_image/resources/53/medium/devid-duxovnyi-rosmodel_268x268_f7f.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Масштабная модель, фигура "Дэвид Духовны"            </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1-20            </div>
                            </div>
                        </a>
                    </div>                </div>
                <div class="pagination"><ul class="pagination"><li class="disabled"><span>Первая</span></li><li class="disabled"><span>&laquo;</span></li><li class="active"><a href="gallery?page=1">1</a></li><li><a href="gallery?page=2">2</a></li><li><a href="gallery?page=3">3</a></li><li><a href="gallery?page=4">4</a></li><li><a href="gallery?page=5">5</a></li><li class="control"><a href="gallery?page=2">&raquo;</a></li><li class="control"><a href="gallery?page=12">Последняя</a></li></ul></div>            </div>

        </div>


    </div>
</div>
<div class="brief">
    <div class="container">
        <div class="brief__border">
            <div class="brief-form brief-form--to-order">
                <div class="brief-form__overlay">
                    <div class="brief-form__caption">
                        Получите расчет  <br class="in-mobile"/> стоимости <br class="in-mobile"/> Вашего макета за 30 минут!
                    </div>
                    <form action="" method="post" class="ajax_form af_order" enctype="multipart/form-data">
                        <div class="brief-form__inputs">
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="Имя" name="name">
                            </div>
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="Телефон" name="phone" data-mask="+7 (999) 999-99-99">
                                <input type="hidden" name="xcode" value="af_order">
                            </div>
                            <div class="brief-form__input-box">
                                <input type="text" placeholder="E-mail" name="email">
                            </div>
                        </div>
                        <div class="brief-form__message">
                            <textarea name="comment" id="" placeholder="Описание вашего макета"></textarea>
                        </div>

                        <div class="brief-form__attach">
                            <label for="brief-form_file">
                                Прикрепить файл
                                <input id="brief-form_file" name="file" type="file">
                                <div id="brief-form_filename"></div>
                            </label>
                        </div>

                        <div class="brief-form__bottom">
                            <div class="brief-form__agree">
                                <label class="check-custom" for="iagree-brief">
                                    <input type="hidden" name="iagree[]" value="0">
                                    <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="iagree-brief">
                                    <span class="checkbox-custom"></span>
                                    <span class="label">
                        Я даю согласие на обработку моих персональных данных
                        </span>
                                </label>
                            </div>
                            <button type="submit" class="btn">Получить предложение</button>

                        </div>

                        <input type="hidden" name="af_action" value="1e909b691671e42f68af4d67fc1458a2" />
                    </form>
                </div>
            </div>


        </div>
    </div>
</div><div class="gallery-page">
    <div class="container">
        <p style="text-align: center;">&nbsp;</p>

        <p style="text-align: center;">&nbsp;</p>
    </div>
</div>

<div id="YaMaps"></div>
<div style="display: none;">
    <div id="affeedback" class="form-callback xform ajax_form af_feedback">
        <div class="xform__caption">Пишите! Ответим на все вопросы</div>

        <form method="post" class="af_feedback" action="">
            <div class="xform__grid">
                <div class="xform__left">
                    <div class="xform__group">
                        <div class="xform__item">
                            <input type="text" name="name" placeholder="Имя*">
                        </div>
                    </div>
                    <div class="xform__group">
                        <div class="xform__item">
                            <input type="text" name="email" placeholder="Email*">
                            <input type="hidden" name="xcode" value="af_callback">
                        </div>
                    </div>
                </div>
                <div class="xform__right">
                    <div class="xform__group">
                        <div class="xform__item">
                            <textarea name="comment" id="" placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xform__agree">
                <label class="check-custom" for="iagree-feedback">
                    <input type="hidden" name="iagree[]" value="0">
                    <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="iagree-feedback">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Согласие на обработку личных данных
                    </span>
                </label>
            </div>
            <div class="xform__submit">
                <button class="btn" type="submit">Отправить</button>
            </div>

            <input type="hidden" name="af_action" value="d2c693fa8c5d01f64065fe92e91d3a7a" />
        </form>
    </div>
</div>



//= include/footer.html