//= include/header.html
<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Галерея</li>
        </ul>
    </div>
</div>

<div class="gallery-page">
    <div class="container">

        <div class="gallery-nav-mobile">
            <div class="gallery-nav-mobile__caption">
                <div class="gallery-nav-mobile__item gallery-nav-mobile__item--1" data-toggle=".gallery-nav-mobile__list">
                    <a href="#">Архитектурные макеты</a>
                </div>
            </div>
            <ul class="gallery-nav-mobile__list">
                <li class="gallery-nav-mobile__item gallery-nav-mobile__item--1">
                    <a href="#">Архитектурные макеты</a>
                </li>
                <li class="gallery-nav-mobile__item gallery-nav-mobile__item--2">
                    <a href="#">Здания и жилые комплексы</a>
                </li>
            </ul>
        </div>

        <div class="gallery-nav">
            <ul>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Архитектурные макеты</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Здания и жилые комплексы</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Макеты<br /> стадионов</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Сувениры, <br />подарки</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Градостроительные макеты</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Промышленные макеты</span>
                    </a>
                </li>
                <li class="gallery-nav__item">
                    <a href="#" class="gallery-nav__link">
                        <span>Макеты <br />интерьеров</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="gallery-catalog">
            <div class="gallery-catalog__border">
                <div class="gallery-catalog__grid">

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-1.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-2.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-3.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-4.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-5.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-6.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-7.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-8.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-9.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-10.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-11.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-12.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-13.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-14.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-15.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="gallery-catalog__item">
                        <a class="gallery-catalog__card" href="#">
                            <div class="gallery-catalog__image">
                                <img src="/assets/template/images/foto-16.jpg" alt="">
                            </div>
                            <div class="gallery-catalog__info">
                                <div class="gallery-catalog__name">
                                    Макет хором барских двухэтажный дом
                                </div>
                                <div class="gallery-catalog__description">
                                    масштаб: 1:200
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
                <div class="gallery-catalog__goto">
                    <a href="#" class="gallery-catalog__goto-link">перейти в каталог</a>
                </div>
            </div>
        </div>


    </div>
</div>



//= include/footer.html