//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Каталог</a></li>
            <li><a href="/">Архитектурные макеты</a></li>
            <li class="active">Макет кремля. Спасская башня</li>
        </ul>
    </div>
</div>

<div class="product-page">
    <div class="container">
        <div class="product-page__border">
            <div class="product-page__caption caption-block">
                <h1 class="caption-block__text">Макет кремля. Спасская башня</h1>
            </div>

            <div class="product-page__box">
                <div class="product-page__images">
                    <div class="product-previews">
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product2.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product2.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product2.jpg" alt="">
                        </div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/preview-product.jpg" alt="">
                        </div>
                    </div>
                    <div class="product-image__list">
                        <div class="product-image__item">
                            <img src="/assets/template/images/tmp/big-product.jpg" alt="">
                        </div>
                        <div class="product-image__item">
                            <img src="/assets/template/images/tmp/big-product2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="product-page__params">
                    <div class="product-params__list">
                        <div class="product-params__row">
                            <div class="product-params__name">Материал башни</div>
                            <div class="product-params__value">Бронза</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Материал подставки</div>
                            <div class="product-params__value">Акриловое стекло</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Габариты с подставкой</div>
                            <div class="product-params__value">8х8х10 см</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Габариты с упаковкой</div>
                            <div class="product-params__value">11х11х12 cм</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Вес изделия</div>
                            <div class="product-params__value">80 г</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Масштаб</div>
                            <div class="product-params__value">1:900</div>
                        </div>
                        <div class="product-params__row">
                            <div class="product-params__name">Упаковка</div>
                            <div class="product-params__value">Картон </div>
                        </div>
                    </div>
                    <div class="product-params__link">
                        <a class="gold__link" href="#">Подробное описание</a>
                    </div>
                    <div class="product-params__link">
                        <a class="gold__link" href="#">Похожие макеты</a>
                    </div>
                </div>
                <div class="product-page__actions">
                    <div class="product-actions">
                        <div class="product-actions__cost">
                            <div class="product-actions__price"><span>99999</span><span class="rub"></span></div>
                            <div class="product-actions__price-per">Цена за одну штуку</div>
                        </div>
                        <div class="product-actions__quontity">
                            <div class="product-actions__row">
                                <div class="product__quontity">
                                    <span class="quontity__plus"></span>
                                    <span class="quontity__minus"></span>
                                    <input type="text" value="1">
                                </div>
                                <div class="product-actions__quontity-text">
                                    Выберите количество
                                </div>
                            </div>
                        </div>
                        <div class="product-actions__buy">
                            <button class="btn button__buy">Добавить в корзину</button>
                        </div>
                        <div class="product-actions__advantages">
                            <ul>
                                <li>Уникальная ручная работа</li>
                                <li>Гарантия 2 года</li>
                                <li>Доставка по всей России</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="description-product">

            <div class="description-product__border">
                <div class="description-product__caption caption-block">
                    <span class="caption-block__text">Подробное описание макета</span>
                </div>
                <div class="description-product__text">
                    <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                        осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних
                        условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                        предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                    <p>
                        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum,
                        текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. </p>
                </div>
            </div>

        </div>

        <div class="similar-product">

            <div class="similar-product__border">
                <div class="similar-product__caption caption-block">
                    <span class="caption-block__text">Похожие макеты</span>
                </div>
                <div class="similar-product__grid similar-product-slider">

                    //= include/product.html
                    //= include/product2.html
                    //= include/product3.html
                    //= include/product.html

                </div>
            </div>

        </div>

    </div>
</div>

//= include/footer.html