//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Карта сайта</li>
        </ul>
    </div>
</div>

<div class="text-page">
    <div class="container">
        <div class="text-page__border">
            <div class="text-page__caption caption-block">
                <span class="caption-block__text">Карта сайта</span>
            </div>
            <div class="text-page__content">
                <p>Ниже представлен список сверстанных страниц:</p>
                <ul>
                    <li><a href="/index.html">Главная</a></li>
                    <li><a href="/catalog.html">Каталог</a></li>
                    <li><a href="/product-card.html">Карточка товара</a></li>
                    <li><a href="/gallery.html">Галерея</a></li>
                    <li><a href="/gallery-card.html">Галерея карточка</a></li>
                    <li><a href="/reviews.html">Отзывы</a></li>
                    <li><a href="/contacts.html">Контакты</a></li>
                    <li><a href="/to-order.html">Заказать макет</a></li>
                    <li><a href="/workshop.html">Наша мастерская</a></li>
                    <li><a href="/text.html">Текстовая страница</a></li>
                    <li><a href="/404.html">404</a></li>
                    <li><a href="/cart.html">Корзина</a></li>
                    <li><a href="/cart-thank.html">Корзина - Спасибо</a></li>
                    <li><a href="/cart-empty.html">Корзина - пусто</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

//= include/footer.html