//= include/header.html


<div class="padding-header"></div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Макеты на заказ</li>
        </ul>
    </div>
</div>

<div class="order">
    <div class="container">
        <div class="order__border">
            <div class="delivery__caption caption-block">
                <span class="caption-block__text">Макет на заказ</span>
            </div>

            <div class="order-maket">
                <div class="order-nav">
                    <ul>
                        <li class="order-nav__item">
                            <a data-tab=".xtab-standart" href="#" class="order-nav__link active">
                                <span>Стандарт</span>
                            </a>
                        </li>
                        <li class="order-nav__item">
                            <a data-tab=".xtab-business" href="#" class="order-nav__link">
                                <span>Бизнес</span>
                            </a>
                        </li>
                        <li class="order-nav__item">
                            <a data-tab=".xtab-premium" href="#" class="order-nav__link">
                                <span>Премиум</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="order-tabs">

                    <div class="order-tabs__tab xtab active xtab-standart">
                        <div class="order-image">
                            <img src="/assets/template/images/order.png" alt="">
                        </div>
                    </div>
                    <div class="order-tabs__tab xtab xtab-business">
                        <div class="order-image">
                            <img src="/assets/template/images/order.png" alt="">
                        </div>
                    </div>
                    <div class="order-tabs__tab xtab xtab-premium">
                        <div class="order-image">
                            <img src="/assets/template/images/order.png" alt="">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="b-making">
    <div class="container">
        <div class="b-making__border">
            <div class="b-making__caption caption-block">
                <span class="caption-block__text">Изготовление макетов на заказ</span>
            </div>
            <div class="b-making__descr">
                Наш основной профиль - создание макетов по эскизу или словесному описанию заказчика,
                на основании которых разрабатывается задание для мастеров.
            </div>
            <div class="b-making__list">
                <div class="b-making__item">
                    <div class="b-making__img">
                        <img src="/assets/template/images/to-order/step-1.png" alt="">
                    </div>
                    <div class="b-making__name">
                        Заявка
                    </div>
                    <div class="b-making__info">
                        Оставьте заявку на сайте или по телефону
                    </div>
                    <div class="b-making__timeline">
                        1 день
                    </div>
                </div>
                <div class="b-making__item">
                    <div class="b-making__img">
                        <img src="/assets/template/images/to-order/step-2.png" alt="">
                    </div>
                    <div class="b-making__name">
                        Согласование
                    </div>
                    <div class="b-making__info">
                        Уточняем детали,
                        рассчитываем стоимость
                    </div>
                    <div class="b-making__timeline">
                        1 - 3 дня
                    </div>
                </div>
                <div class="b-making__item">
                    <div class="b-making__img">
                        <img src="/assets/template/images/to-order/step-3.png" alt="">
                    </div>
                    <div class="b-making__name">
                        Проектирование
                    </div>
                    <div class="b-making__info">
                        Проектируем макет и
                        изготавливаем
                        детали
                    </div>
                    <div class="b-making__timeline">
                        3 - 10 дней
                    </div>
                </div>
                <div class="b-making__item">
                    <div class="b-making__img">
                        <img src="/assets/template/images/to-order/step-4.png" alt="">
                    </div>
                    <div class="b-making__name">
                        Сборка
                    </div>
                    <div class="b-making__info">
                        Красим и собираем макет, делаем подсветку
                    </div>
                    <div class="b-making__timeline">
                        3 - 15 дней
                    </div>
                </div>
                <div class="b-making__item">
                    <div class="b-making__img">
                        <img src="/assets/template/images/to-order/step-5.png" alt="">
                    </div>
                    <div class="b-making__name">
                        Отправка
                    </div>
                    <div class="b-making__info">
                        Проверка,  упаковка
                        и передача готового
                        макета
                    </div>
                    <div class="b-making__timeline">
                        1 - 2 дня
                    </div>
                </div>
            </div>
            <div class="b-making__goto">
                <span class="b-making__goto-text">
                    На все макеты действует гарантия 2 года, это фиксируется в договоре
                </span>
            </div>
        </div>
    </div>
    <div class="b-making-line">
        <div class="container">
            <div class="b-making-line__grid">
                <div class="b-making-line__item">
                    <div class="b-making-line__timeline">
                        <span class="b-making-line__timeline-box">1 день</span>
                    </div>
                </div>
                <div class="b-making-line__item">
                    <div class="b-making-line__timeline">
                        <span class="b-making-line__timeline-box">1 - 3 дня</span>
                    </div>
                </div>
                <div class="b-making-line__item">
                    <div class="b-making-line__timeline">
                        <span class="b-making-line__timeline-box">3 - 10 дней</span>
                    </div>
                </div>
                <div class="b-making-line__item">
                    <div class="b-making-line__timeline">
                        <span class="b-making-line__timeline-box">3 - 15 дней</span>
                    </div>
                </div>
                <div class="b-making-line__item">
                    <div class="b-making-line__timeline">
                        <span class="b-making-line__timeline-box">1 - 2 дня</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="making">
    <div class="container">
        <div class="making__border">
            <div class="making__caption caption-block">
                <span class="caption-block__text">Изготовление макетов на заказ</span>
            </div>
            <div class="making__descr">
                Наш основной профиль - создание макетов по эскизу или словесному описанию заказчика,
                на основании которых разрабатывается задание для мастеров.
            </div>
            <div class="making__list">
                <div class="making__item">
                    <div class="making__name">
                        Заявка
                    </div>
                    <div class="making__info">
                        Оставьте заявку на сайте или по телефону
                        (495) 369-21-99
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Согласование
                    </div>
                    <div class="making__info">
                        Уточняем детали,
                        рассчитываем стоимость
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Проектирование
                    </div>
                    <div class="making__info">
                        Проектируем макет и
                        изготавливаем
                        детали
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Сборка
                    </div>
                    <div class="making__info">
                        Красим и собираем макет, делаем подсветку
                    </div>
                </div>
                <div class="making__item">
                    <div class="making__name">
                        Отправка
                    </div>
                    <div class="making__info">
                        Проверка,  упаковка
                        и передача готового
                        макета
                    </div>
                </div>
            </div>
            <div class="making__goto">
                <span class="making__goto-text">
                    На все макеты действует гарантия 2 года, это фиксируется в договоре
                </span>
            </div>
        </div>
    </div>
    <div class="making-line">
        <div class="container">
            <div class="making-line__grid">
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
                <div class="making-line__item"></div>
            </div>
        </div>
    </div>
</div>

<div class="promotion">
    <div class="container">
        <div class="promotion__border">
            <div class="promotion__caption caption-block">
                <span class="caption-block__text">Заголовок к тексту для продвижения</span>
            </div>
            <div class="promotion__text">
                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних
                условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
            </div>
        </div>
    </div>
</div>

//= include/footer.html